{% extends "case_details/_base-case-change.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "components/alertBannerComponent.njk" import alertBannerComponent %}

{% block pageTitle %}
  {% if errorState.hasErrors %}{{ t('common.error') }}: {% endif %}{{ t('pages.caseDetails.aboutNewCase.pageTitle', { caseReference: caseReference, serviceName: config.SERVICE_NAME }) }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: t('common.back'),
    href: "/cases/" + caseReference + "/split-this-case",
    classes: "govuk-!-margin-bottom-0"
  }) }}
{% endblock %}

{% block errorSummaryOrAlert %}
  {% if errorState.hasErrors %}
    {{ errorSummary(errorState.errors, t('common.errorSummaryTitle')) }}
  {% else %}
    {{ alertBannerComponent(client) }}
  {% endif %}
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="POST" action="/cases/{{ caseReference }}/about-new-case">

        <!-- CSRF Protection -->
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <h2 class="govuk-heading-m">{{ t('pages.caseDetails.aboutNewCase.h2') }}</h2>

        <p class="govuk-body">{{ t('pages.caseDetails.aboutNewCase.originalCaseInfo') }}
          {{client.category}}</p>

        <h3 class="govuk-heading-s">{{ t('pages.caseDetails.aboutNewCase.h3') }}</h3>

        {% if (categoryItems | length) == 2 %}

          <p class="govuk-body">{{ t('pages.caseDetails.aboutNewCase.newCaseInfo') }}
            {{ categoryItems[1].text }}</p>
          <input type="hidden" name="category" value="{{ categoryItems[1].value }}"/>

        {% else %}

          {{ govukSelect({
            id: "category",
            name: "category",
            items: categoryItems,
            classes: "govuk-!-width-half", 
            errorMessage: errorState.fieldErrors.category if errorState.fieldErrors.category
          }) }}

        {% endif %}

        {% call govukFieldset({
          legend: {
            text: t('pages.caseDetails.aboutNewCase.legend'),
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false
          }
        }) %}

        {{ govukCharacterCount({
            id: "notes",
            name: "notes",
            value: formData.notes,
            rows: 8,
            errorMessage: errorState.fieldErrors.notes if errorState.fieldErrors.notes,
            maxlength: maxCommentLength,
            threshold: characterThreshold
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: t('common.continue')
          }) }}
          {% if splitCaseCache and splitCaseCache.fromChange %}
            <a class="govuk-link" href="/cases/{{ caseReference }}/check-split-case-answers">{{ t('common.cancel') }}</a>
          {% else %}
            <a class="govuk-link" href="/cases/{{ caseReference }}/client-details">{{ t('common.cancel') }}</a>
          {% endif %}
        </div>

      </form>

    </div>
  </div>
{% endblock %}