# Add or remove environment variables here.
CONTACT_EMAIL='eligibility@justice.gov.uk'
DEPARTMENT_NAME='Legal Aid Agency'
DEPARTMENT_URL='https://www.gov.uk/government/organisations/legal-aid-agency'
RATELIMIT_HEADERS_ENABLED=True
RATE_LIMIT_MAX=100
RATE_WINDOW_MS=900000#15 * 60 * 1000 = 900000
SERVICE_NAME='Manage your civil cases'
SERVICE_PHASE='Beta'
SERVICE_URL='https://www.gov.uk/legal-aid'
NODE_ENV=development
SESSION_SECRET='s3Cur3'
SESSION_NAME='sessionId'

# Redis Configuration (for session storage in multi-pod deployments)
REDIS_ENABLED=false
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_TLS_ENABLED=false

# CLA Backend
API_PREFIX='/cla_provider/api/v1'
API_URL='https://laa-cla-backend-uat.apps.live-1.cloud-platform.service.justice.gov.uk'
API_CLIENT_ID='Speak to another Dev'
API_CLIENT_SECRET='Speak to another Dev'

# CLA Backend feature branch
# API_URL='https://el-2491-mcc-split-endpoint-laa-cla-backend-uat.apps.live-1.cloud-platform.service.justice.gov.uk'
# API_CLIENT_ID='Speak to another Dev'
# API_CLIENT_SECRET='Speak to another Dev'
