node_modules
coverage
public
playwright-report
test-results
deploy/laa-manage-your-civil-cases/templates/**
views/case_details/client_support_needs/languages.json
tests/playwright/fixtures/mock-data.json