@use "govuk-frontend/dist/govuk" as govuk;

.multiline-text {
  white-space: pre-line;
}

strong.app-error-text {
  color: govuk.govuk-functional-colour("error");
}

.app-important-date {
  color: #ca3535;
}