// Case details header
.moj-button-menu .moj-button-menu__toggle-button {
  margin-bottom: 0px;
}

@media only screen and (max-width: 640px) {
  .split-case-button {
    margin-top: 20px;
  }
}

.mcc-error-or-alert {
  margin-bottom: 30px;
  margin-top: 0;
}

.moj-alert {
  margin-bottom: 20px;
}

.negative-margin{
  margin-top: -10px;
}

.alert-spacing {
  margin-bottom: 20px;
}

.case-status-wrapper {
  align-items: center;
  margin-bottom: 0;
}

.tag-padding{
  padding-top: 6px;
  padding-bottom: 8px;
}

.mcc-case-details-container {
  background-color: #f4f8fb;
  width: 100vw;
  // re-add the padding that govuk-width-container normally provides, so content lines back up
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  
  .govuk-grid-column-full {
    padding-left: 0;
    padding-right: 0;
  }
}