// Case details tab
.case-details-tab-heading-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.case-details-tab-provider-notes-section {
  margin-top: 30px;
  margin-bottom: 0px;
}

.event-tag-spacing{
  margin-top: 20px;
  margin-bottom: 0px;
}
