// Case details header
.mcc-case-details-header {
  margin-top: -40px;
}

.moj-button-menu__wrapper {
  margin-top: -5px !important;
}

.moj-alert {
  margin: 20px 0 !important;
}

.case-status-wrapper {
  display: flex;
  align-items: center;
}

.pipe{
  border-left: 2px solid #0b0c0c;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
  margin-right: 14px;
}

.tag-padding{
  padding-top: 6px;
  padding-bottom: 8px;
}