.eligibility-table th {
  width: 75%;
}

.eligibility-table td {
  width: 25%;
}

.legal-help-eligibility-table th {
  width: 75%;
}

.legal-help-eligibility-table td {
  width: 25%;
  text-align: right;
}

.financial-eligibility-alert .moj-alert {
  margin-bottom: 30px;
}

.property-remove-button {
  float: right;
}