@use "govuk-frontend/dist/govuk" as govuk;

// intro
.horizontal-line-top{
  height: 1px;
  color: #cecece; 
  background: #cecece; 
  font-size: 0;
  border: 0;
  margin-top: -60px;
  margin-bottom: 20px;

  @include govuk.govuk-media-query($until: tablet) {
    margin-top: -20px;
  }
} 

.horizontal-line-bottom{
  height: 1px;
  color: #cecece; 
  background: #cecece; 
  font-size: 0;
  border: 0;
} 

.bottom-button-group{
   margin-bottom: -40px;
}

.laa-branding {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 15px;
}

.laa-branding__line {
  flex: 0 0 1px;
  height: 35px;
  width: 1px;
  background-color: #080606;
}

.laa-branding__crest {
  display: flex;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
}

.laa-branding__crest svg {
  display: block;
  width: 40px;
  height: 40px;
}

.laa-branding__text {
  white-space: nowrap;
  line-height: 40px;
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.total-equity-table {
  table-layout: fixed;
}

.total-equity-table .govuk-table__caption {
  margin-bottom: 30px;
}

.total-equity-table .govuk-table__cell {
  width: 30%;
  text-align: right;
}

.total-equity-table .govuk-table__row {
  border-top: 2px solid #0b0c0c;
  border-bottom: 2px solid #0b0c0c;
}

.total-equity-table .govuk-table__header,
.total-equity-table .govuk-table__cell {
  font-weight: 700;
}

.legal-help-eligibility-table th {
  width: 35%;
}

.legal-help-eligibility-table td {
  width: 40%;
  text-align: right;
}

// income
.legal-help-eligibility-table th.income-table__header-align-right {
  text-align: right;
}

.income-table__expenses {
  border-bottom: none;
  padding-bottom: 0px;
}

.income-table__expenses-padding-top {
  margin-top: -30px;
}

.income-table__total {
  font-weight: bold;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

// evidence
.page-break{
  page-break-after: always
}

.govuk-textarea:disabled {
  opacity: inherit;
}

// declaration
.govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
  opacity: inherit;
}

.legal-help-declaration-checkboxes {
  .govuk-checkboxes__input {
    order: 2;
  }

  .govuk-checkboxes__label {
    order: 1;
    padding: 0px;
    margin-bottom: 12px;
  }

  .govuk-checkboxes__label::before {
    right: 2px;
    left: auto;
  }

  .govuk-checkboxes__label::after {
    right: 10px;
    left: auto;
  }
}

.govuk-input:disabled {
  opacity: inherit;
}

.legal-help-declaration-date{
  margin-top: -10px;
}

// print button
@media print {
  // Set page margins and add page numbers
  @page {
    margin: 2cm;
    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
    }
  }
  // Suppresses the URL from appearing when the page is printed
  a[href]:after {
    content: none !important;
  }
  // Make the page full width when printing
  .legal-help-form-pdf-width .govuk-grid-column-two-thirds {
    width: 100%;
    float: none;
  }
  // Hide the header and footer
  header, .site-header,
  footer, .site-footer {
    display: none !important;
  }
}

.printing-button {
  display: none;
  .js-enabled & {
    display: block;
  }
}

.print-link {
  background: url("/assets/images/icon-print.png") no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: 10px 10px 10px 36px;
  text-decoration: none;
  border: 1px solid #484949;
  color: #1a65a6;
  cursor: pointer;
  margin: 0px;

  &:hover {
    background-color: #f3f3f3;
  }
  
  &:focus {
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    background-color: #fd0;
    border-color: transparent;
  }
}