{% macro alertBannerComponent(client) %}
  <div class="govuk-grid-row mcc-alert-banner">
    <div class="govuk-grid-column-two-thirds">
      {% include "case_details/_case-alert-banner-partial.njk" %}
    </div>
  </div>
{% endmacro %}
