{% macro alertBannerComponent(client) %}

  {% set content %}
    {% include "case_details/_case-alert-banner-partial.njk" %}
  {% endset %}

  {% if content | trim %}
    <div class="govuk-grid-row mcc-alert-banner negative-margin">
      <div class="govuk-grid-column-two-thirds">
        {{ content | safe }}
      </div>
    </div>
  {% endif %}

{% endmacro %}
