{% macro caseDetailsHeaderComponent(client, hideButtonMenu = false) %}
<div class="mcc-case-details-header">
  {% include "case_details/_case-alert-banner-partial.njk" %}
  {% include "case_details/_case-info-partial.njk" %}
</div>
{% endmacro %}
