{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "moj/components/header/macro.njk" import mojHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set govukRebrand = true %}

{% block pageTitle %}{{config.SERVICE_NAME}} – GOV.UK{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/{{getAsset('main','css')}}">
  <meta name="description" content="{{config.SERVICE_NAME}}">
  <meta name="keywords" content="GOV.UK, govuk, gov, government, uk, frontend, ui, user interface, jinja, python, flask, port, template, templating, macro, component, design system, html, forms, wtf, wtforms, widget, widgets, demo, example">
  <meta name="author" content="{{config.DEPARTMENT_NAME}}">
  <script type="module" nonce="{{ cspNonce }}" src="/js/{{getAsset('custom','min.js')}}"></script>
{% endblock %}

{% block bodyStart %}
  <script nonce="{{ cspNonce }}">
    document.body.className += ' js-enabled' + (
      'noModule' in HTMLScriptElement.prototype
      ? ' govuk-frontend-supported'
      : '');
  </script>
  {# cookie policy #}
{% endblock %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: config.DEPARTMENT_NAME,
      href: config.DEPARTMENT_URL
    },
    navigation: {
      label: "Account navigation",
      items: [{
        text: "ramona.zoro@law.com",
        href: "#"
      }, {
        html: "<strong>Sign out</strong>",
        href: "#"
      }]
    }
  }) }}
  {{ govukServiceNavigation({
  serviceName: config.SERVICE_NAME,
  serviceUrl: "/cases/new",
  navigation: [
    {
      href: "/cases/new",
      text: "Your cases",
      active: true
    },
    {
      href: "/search",
      text: "Search"
    }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: config.SERVICE_PHASE
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-body">
      {% block pageContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    rebrand: govukRebrand,
    meta: {
      items: [
        {
          href: "#",
          text: "Help"
        },
        {
          href: "#",
          text: "Feedback"
        },
        {
          href: "#",
          text: "Updates"
        },
        {
          href: "#",
          text: "Privacy Policy"
        },
        {
          href: "#",
          text: "Cookie Policy"
        },
        {
          href: "#",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" nonce="{{ cspNonce }}" src="/js/{{getAsset('frontend-packages','min.js')}}"></script>
{% endblock %}