{% from "components/summaryCardComponent.njk" import summaryCardComponent %}

{% set constructedData = {
  under17Text: "Yes" if financialEligibility.isUnder17 else "No",
  under18RegularPayment: "Yes" if financialEligibility.under18RegularPayment else "No",
  under18HasValuables: "Yes" if financialEligibility.under18HasValuables else "No",
  partnerText: "Yes" if financialEligibility.hasPartner else "No",
  over60Text: "Yes" if financialEligibility.isOver60 else "No",
  universalCredit: "Yes" if financialEligibility.specificBenefits.universalCredit else "No",
  pensionCredit: "Yes" if financialEligibility.specificBenefits.pensionCredit else "No",
  jobSeekers: "Yes" if financialEligibility.specificBenefits.jobSeekers else "No",
  employmentSupport: "Yes" if financialEligibility.specificBenefits.employmentSupport else "No",
  incomeSupport: "Yes" if financialEligibility.specificBenefits.incomeSupport else "No"
} %}

{% set partnerAndAgeRows = [
  {
    label: t("common.financialEligibility.details.hasPartner"),
    key: "partnerText"
  },
  {
    label: ( t("common.financialEligibility.details.partnerAge60OrOver") if financialEligibility.hasPartner else t("common.financialEligibility.details.age60OrOver")),
    key: "over60Text"
  }
] %}

{% set rows = [
  {
    label: t("common.financialEligibility.details.age17OrUnder"),
    key: "under17Text"
  }
] %}

{% if financialEligibility.isUnder17 %}
  {% set rows = rows.concat([
    {
      label: t("common.financialEligibility.details.under18RegularPayment"),
      key: "under18RegularPayment"
    }
  ]) %}
  {% if not financialEligibility.under18RegularPayment %}
    {% set rows = rows.concat([ 
      {
        label: t("common.financialEligibility.details.under18HasValuables"),
        key: "under18HasValuables"
      }
    ]) %} 
  {% endif %}
  {% if financialEligibility.under18HasValuables or financialEligibility.under18RegularPayment %}
    {% set rows = rows.concat(partnerAndAgeRows) %}
  {% endif %}
{% else %}
    {% set rows = rows.concat(partnerAndAgeRows) %}
{% endif %}


{{ summaryCardComponent({
  caption: "About you",
  captionClasses: "govuk-table__caption--m",
  classes: "eligibility-table",
  data: constructedData,
  card: {
    title: {
      text: "About you"
    },
    actions: {
      items: [
        {
          href: "/cases/" + caseReference + "/financial-eligibility/change",
          text: t('common.change')
        }
      ]
    }
  },
  rows: rows
}) }}


{% if not financialEligibility.under18passportedBenefits %}
  {{ summaryCardComponent({
    caption: "Benefits",
    captionClasses: "govuk-table__caption--m",
    classes: "eligibility-table",
    data: constructedData,
    card: {
      title: {
        text: "Benefits"
      },
      actions: {
        items: [
          {
            href: "/cases/" + caseReference + "/financial-eligibility/change/benefits",
            text: t('common.change')
          }
        ]
      }
    },
    rows: [
      {
        label: t("common.financialEligibility.details.universalCredit"),
        key: "universalCredit"
      },
      {
        label: t("common.financialEligibility.details.incomeSupport"),
        key: "incomeSupport"
      },
      {
        label: t("common.financialEligibility.details.incomeBasedJSA"),
        key: "jobSeekers"
      },
      {
        label: t("common.financialEligibility.details.pensionCredit"),
        key: "pensionCredit"
      },
      {
        label: t("common.financialEligibility.details.employmentSupport"),
        key: "employmentSupport"
      }
    ]
  }) }}

{% endif %}