{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/summaryCardComponent.njk" import summaryCardComponent %}

{% set changeIncomeLinkHtml %}
  <p class="govuk-!-margin-bottom-8">
    <a class="govuk-link" href="/cases/{{ caseReference }}/financial-eligibility/change/your-income">{{ t('common.change') }}</a>
  </p>
{% endset %}

{% set changePartnerIncomeLinkHtml %}
  <p class="govuk-!-margin-bottom-8">
    <a class="govuk-link" href="/cases/{{ caseReference }}/financial-eligibility/change/partner-income">{{ t('common.change') }}</a>
  </p>
{% endset %}

{% set changeDependantsLinkHtml %}
  <a class="govuk-link" href="/cases/{{ caseReference }}/financial-eligibility/change/dependants">{{ t('common.change') }}</a>
{% endset %}

{% set income = financialEligibility.clientData.income %}
{% set deductions = financialEligibility.clientData.deductions %}
{% set incomeData = {
  selfEmployed: "Yes" if income.selfEmployed else "No",
  earnings: income.earnings | formatFinancialData,
  incomeTax: deductions.incomeTax | formatFinancialData,
  nationalInsurance: deductions.nationalInsurance | formatFinancialData,
  selfEmploymentDrawings: income.selfEmploymentDrawings | formatFinancialData,
  benefits: income.benefits | formatFinancialData,
  taxCredits: income.taxCredits | formatFinancialData,
  childBenefit: income.childBenefit | formatFinancialData,
  maintenanceReceived: income.maintenanceReceived | formatFinancialData,
  pension: income.pension | formatFinancialData,
  otherIncome: income.otherIncome | formatFinancialData
} %}

{{ summaryCardComponent({
    caption: "Your income",
    captionClasses: "govuk-table__caption--m",
    classes: "eligibility-table",
    rows: [
      {
        label: t("common.financialEligibility.income.selfEmployed"),
        key: "selfEmployed"
      },
      {
        label: t("common.financialEligibility.income.earnings"),
        key: "earnings"
      },
      {
        label: t("common.financialEligibility.income.tax"),
        key: "incomeTax"
      },
      {
        label: t("common.financialEligibility.income.nationalInsurance"),
        key: "nationalInsurance"
      },
      {
        label: t("common.financialEligibility.income.selfEmployedDrawings"),
        key: "selfEmploymentDrawings"
      },
      {
        label: t("common.financialEligibility.income.benefits"),
        key: "benefits"
      },
      {
        label: t("common.financialEligibility.income.taxCredits"),
        key: "taxCredits"
      },
      {
        label: t("common.financialEligibility.income.childBenefit"),
        key: "childBenefit"
      },
      {
        label: t("common.financialEligibility.income.maintenanceReceived"),
        key: "maintenanceReceived"
      },
      {
        label: t("common.financialEligibility.income.pension"),
        key: "pension"
      },
      {
        label: t("common.financialEligibility.income.otherIncome"),
        key: "otherIncome"
      }
    ],
    data: incomeData,
    card: {
      title: {
        text: t("common.financialEligibility.income.yourIncome")
      },
      actions: {
        items: [
          {
            href: "/cases/" + caseReference + "/financial-eligibility/change/your-income",
            text: t('common.change')
          }
        ]
      }
    }
}) }}

{% set partnerIncome = financialEligibility.partnerData.partnerIncome %}
{% set partnerDeductions = financialEligibility.partnerData.partnerDeductions %}
{% set partnerIncomeData = {
  selfEmployed: "Yes" if partnerIncome.selfEmployed else "No",
  earnings: partnerIncome.earnings | formatFinancialData,
  incomeTax: partnerDeductions.incomeTax | formatFinancialData,
  nationalInsurance: partnerDeductions.nationalInsurance | formatFinancialData,
  selfEmploymentDrawings: partnerIncome.selfEmploymentDrawings | formatFinancialData,
  benefits: partnerIncome.benefits | formatFinancialData,
  taxCredits: partnerIncome.taxCredits | formatFinancialData,
  maintenanceReceived: partnerIncome.maintenanceReceived | formatFinancialData,
  pension: partnerIncome.pension | formatFinancialData,
  otherIncome: partnerIncome.otherIncome | formatFinancialData
} %}

{% if financialEligibility.hasPartner %}
  {{ summaryCardComponent({
    caption: "Your partner's income",
    captionClasses: "govuk-table__caption--m",
    classes: "eligibility-table",
    data: partnerIncomeData,
    card: {
      title: {
        text: t("common.financialEligibility.income.partnerIncome")
      },
      actions: {
        items: [
          {
            href: "/cases/" + caseReference + "/financial-eligibility/change/partner-income",
            text: t('common.change')
          }
        ]
      }
    },
    rows: [
      {
        label: t("common.financialEligibility.income.partnerSelfEmployed"),
        key: "selfEmployed"
      },
      {
        label: t("common.financialEligibility.income.partnerEarnings"),
        key: "earnings"
      },
      {
        label: t("common.financialEligibility.income.partnerTax"),
        key: "incomeTax"
      },
      {
        label: t("common.financialEligibility.income.partnerNationalInsurance"),
        key: "nationalInsurance"
      },
      {
        label: t("common.financialEligibility.income.selfEmployedDrawings"),
        key: "selfEmploymentDrawings"
      },
      {
        label: t("common.financialEligibility.income.benefits"),
        key: "benefits"
      },
      {
        label: t("common.financialEligibility.income.taxCredits"),
        key: "taxCredits"
      },
      {
        label: t("common.financialEligibility.income.maintenanceReceived"),
        key: "maintenanceReceived"
      },
      {
        label: t("common.financialEligibility.income.pension"),
        key: "pension"
      },
      {
        label: t("common.financialEligibility.income.otherIncome"),
        key: "otherIncome"
      }
    ]
  }) }}
{% endif %}

{% set dependantsData = {
  dependantsOld: financialEligibility.dependantsOld | safe | string,
  dependantsYoung: financialEligibility.dependantsYoung | safe | string
} %}
{{ summaryCardComponent({
  caption: "Dependants",
  classes: "eligibility-table",
  captionClasses: "govuk-table__caption--m",
  data: dependantsData,
  card: {
    title: {
      text: t("common.financialEligibility.income.dependantsHeading")
    },
    actions: {
      items: [
        {
          href: "/cases/" + caseReference + "/financial-eligibility/change/dependants",
          text: t('common.change')
        }
      ]
    }
  },
  rows: [
    {
      label: t("common.financialEligibility.income.partnerDependantsOld") if financialEligibility.hasPartner else t("common.financialEligibility.income.dependantsOld"),
      key: "dependantsOld"
    },
    {
      label: t("common.financialEligibility.income.partnerDependantsYoung") if financialEligibility.hasPartner else t("common.financialEligibility.income.dependantsYoung"),
      key: "dependantsYoung"
    }
  ]
}) }}
