{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/summaryCardComponent.njk" import summaryCardComponent %}

{% set changeExpensesLinkHtml %}
  <p class="govuk-!-margin-bottom-8">
    <a class="govuk-link" href="/cases/{{ caseReference }}/financial-eligibility/change/your-expenses">{{ t('common.change') }}</a>
  </p>
{% endset %}

{% set changePartnerExpensesLinkHtml %}
  <a class="govuk-link" href="/cases/{{ caseReference }}/financial-eligibility/change/partner-expenses">{{ t('common.change') }}</a>
{% endset %}

{% set deductions = financialEligibility.clientData.deductions %}
{% set partnerDeductions = financialEligibility.partnerData.partnerDeductions %}
{% set expensesData = {
  mortgageCost: deductions.mortgage | formatFinancialData,
  rentCost: deductions.rent | formatFinancialData,
  maintenanceCost: deductions.maintenance | formatFinancialData,
  childCareCost: deductions.childcare | formatFinancialData,
  legalAidCost: deductions.criminalContributions | formatFinancialData
} %}

{{ summaryCardComponent({
  caption: "Your expenses",
  classes: "eligibility-table",
  captionClasses: "govuk-table__caption--m",
  data: expensesData,
  card: {
    title: {
      text: t("common.financialEligibility.expenses.yourExpensesHeading")
    },
    actions: {
      items: [
        {
          href: "/cases/" + caseReference + "/financial-eligibility/change/your-expenses",
          text: t('common.change')
        }
      ]
    }
  },
  rows: [
    {
      label: t("common.financialEligibility.expenses.mortgageCost"),
      key: "mortgageCost"
    },
    {
      label: t("common.financialEligibility.expenses.rentCost"),
      key: "rentCost"
    },
    {
      label: t("common.financialEligibility.expenses.maintenanceCost"),
      key: "maintenanceCost"
    },
    {
      label: t("common.financialEligibility.expenses.childCareCost"),
      key: "childCareCost"
    },
    {
      label: t("common.financialEligibility.expenses.legalAidCost"),
      key: "legalAidCost"
    }
  ]
}) }}

{% if financialEligibility.hasPartner %}
  {% set partnerExpensesData = {
    
    partnerMortgageCost: partnerDeductions.mortgage | formatFinancialData,
    partnerRentCost: partnerDeductions.rent | formatFinancialData,
    partnerMaintenanceCost: partnerDeductions.maintenance | formatFinancialData,
    partnerChildCareCost: partnerDeductions.childcare | formatFinancialData,
    partnerLegalAidCost: partnerDeductions.criminalContributions | formatFinancialData
  } %}

  {{ summaryCardComponent({
    caption: "Your partner's expenses",
    classes: "eligibility-table",
    captionClasses: "govuk-table__caption--m",
    data: partnerExpensesData,
    card: {
      title: {
        text: t("common.financialEligibility.expenses.partnerExpensesHeading")
      },
      actions: {
        items: [
          {
            href: "/cases/" + caseReference + "/financial-eligibility/change/partner-expenses",
            text: t('common.change')
          }
        ]
      }
    },
    rows: [
      {
        label: t("common.financialEligibility.expenses.partnerMortgageCost"),
        key: "partnerMortgageCost"
      },
      {
        label: t("common.financialEligibility.expenses.partnerRentCost"),
        key: "partnerRentCost"
      },
      {
        label: t("common.financialEligibility.expenses.partnerMaintenanceCost"),
        key: "partnerMaintenanceCost"
      },
      {
        label: t("common.financialEligibility.expenses.partnerChildCareCost"),
        key: "partnerChildCareCost"
      },
      {
        label: t("common.financialEligibility.expenses.partnerLegalAidCost"),
        key: "partnerLegalAidCost"
      }
    ]
  }) }}
{% endif %}
