{% extends "case_details/_base-case-change.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "x-govuk/components/autocomplete/macro.njk" import xGovukAutocomplete %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "components/alertBannerComponent.njk" import alertBannerComponent %}

{% block pageTitle %}{{ t(pageTitleKey, { caseReference: caseReference, serviceName: config.SERVICE_NAME }) }}
{% endblock %}

{% block errorSummaryOrAlert %}
  {% if error %}
    {{ errorSummary(error.errorSummaryList) }}
  {% else %}
    {{ alertBannerComponent(client) }}
  {% endif %}
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ t(headingKey) }}</legend>

      {# Set up variables for the form partial #}
      {% set formAction = formActionUrl %}

      {# Include the reusable form partial #}
      {% include "case_details/client_support_needs/_form.njk" %}
    </div>
  </div>

  {# This script is used to trigger error validation for `accessible autocomplete` component, when the input filed is empty #}
  <script nonce="{{ cspNonce }}">
    document.addEventListener('DOMContentLoaded', function () {
      function clearAccessibleAutocompleteSelectionWhenInputEmpty(inputId) {
        const autocompleteInput = document.getElementById(inputId);
        const selectElement = document.getElementById(inputId + '-select');

        if (autocompleteInput && selectElement) {
          function clearSelection() {
            if (this.value.trim() === '') {
              selectElement.value = '';
              selectElement.selectedIndex = 0;
            }
          }
          autocompleteInput.addEventListener('input', clearSelection);
          autocompleteInput.addEventListener('keyup', clearSelection);
          return true;
        }
        return false;
      }

      const languageCheckbox = document.querySelector('input[value="languageSelection"]');
      if (languageCheckbox) {
        languageCheckbox.addEventListener('change', function () {
          if (this.checked) {
            setTimeout(() => clearAccessibleAutocompleteSelectionWhenInputEmpty('languageSupportNeeds'), 100);
          }
        });
      }

      clearAccessibleAutocompleteSelectionWhenInputEmpty('languageSupportNeeds');
    });
  </script>
{% endblock formContent %}