{{ xGovukAutocomplete({
  id: "languageSupportNeeds",
  name: "languageSupportNeeds",
  value: currentLanguageSupportNeeds,
  errorMessage: errorMessages.languageSupportNeeds if error,
  label: {
    text: t('forms.clientDetails.clientSupportNeeds.languageHint')
  },
  formGroup: { classes: "govuk-!-width-one-half" },
  items: [
    { text: "Assamese" },
    { text: "Azeri" },
    { text: "Afrikaans" },
    { text: "Algerian" },
    { text: "Ashanti" },
    { text: "Akan" },
    { text: "Albanian" },
    { text: "Amharic" },
    { text: "Armenian" },
    { text: "Arabic" },
    { text: "Assyrian" },
    { text: "Azerbaijani" },
    { text: "Badini" },
    { text: "Bengali" },
    { text: "Burmese" },
    { text: "Bajuni" },
    { text: "Belorussian" },
    { text: "Bosnian" },
    { text: "Berber" },
    { text: "Basque" },
    { text: "Bulgarian" },
    { text: "Brava" },
    { text: "Brazilian" },
    { text: "Cantonese" },
    { text: "Cebuano" },
    { text: "Creole" },
    { text: "Chinese" },
    { text: "Cherokee" },
    { text: "Columbian" },
    { text: "Cambodian" },
    { text: "Chaochow" },
    { text: "Croatian" },
    { text: "Catalan" },
    { text: "Czech" },
    { text: "Danish" },
    { text: "Dari" },
    { text: "Dutch" },
    { text: "Egyptian" },
    { text: "English" },
    { text: "Estonian" },
    { text: "Eritrean" },
    { text: "Esperanto" },
    { text: "Ethiopian" },
    { text: "Farsi" },
    { text: "Fijian" },
    { text: "Flemish" },
    { text: "Fanti" },
    { text: "French" },
    { text: "Finnish" },
    { text: "Fulla" },
    { text: "Ga" },
    { text: "German" },
    { text: "Gurmukhi" },
    { text: "Gaelic" },
    { text: "Gorani" },
    { text: "Georgian" },
    { text: "Greek" },
    { text: "Gujarati" },
    { text: "Hakka" },
    { text: "Hebrew" },
    { text: "Hindi" },
    { text: "Homa" },
    { text: "Hausa" },
    { text: "Hungarian" },
    { text: "Hui" },
    { text: "Icelandic" },
    { text: "Igbo" },
    { text: "Ilocano" },
    { text: "Indonesian" },
    { text: "Iraqi" },
    { text: "Iranian" },
    { text: "Italian" },
    { text: "Japanese" },
    { text: "Kashmiri" },
    { text: "Kreo" },
    { text: "Kirundi" },
    { text: "Kurmanji" },
    { text: "Kannada" },
    { text: "Korean" },
    { text: "Krio" },
    { text: "Kosovan" },
    { text: "Kurdish" },
    { text: "Kinyarwanda" },
    { text: "Kinyamirenge" },
    { text: "Kazakh" },
    { text: "Latvian" },
    { text: "Laotian" },
    { text: "Lao" },
    { text: "Lubwisi" },
    { text: "Lebanese" },
    { text: "Lingala" },
    { text: "Luo" },
    { text: "Lusoga" },
    { text: "Lithuanian" },
    { text: "Luganda" },
    { text: "Mandarin" },
    { text: "Macedonian" },
    { text: "Moldovan" },
    { text: "Mirpuri" },
    { text: "Mandinka" },
    { text: "Malay" },
    { text: "Mongolian" },
    { text: "Moroccan" },
    { text: "Marathi" },
    { text: "Maltese" },
    { text: "Malayalam" },
    { text: "Ndebele" },
    { text: "Nepalese" },
    { text: "Nigerian" },
    { text: "Norwegian" },
    { text: "Nyakuse" },
    { text: "Oromo" },
    { text: "Other" },
    { text: "Pahari" },
    { text: "Persian" },
    { text: "Portuguese" },
    { text: "Philipino" },
    { text: "Polish" },
    { text: "Pothwari" },
    { text: "Pusthu" },
    { text: "Punjabi" },
    { text: "Romanian" },
    { text: "Russian" },
    { text: "Sotho" },
    { text: "Serbo-Croat" },
    { text: "Swedish" },
    { text: "Serbian" },
    { text: "Shona" },
    { text: "Sinhalese" },
    { text: "Siraiki" },
    { text: "Slovak" },
    { text: "Samoan" },
    { text: "Slovenian" },
    { text: "Somali" },
    { text: "Sorani" },
    { text: "Spanish" },
    { text: "Sri Lankan" },
    { text: "Scottish Gaelic" },
    { text: "Sudanese" },
    { text: "Swahili" },
    { text: "Swahilli" },
    { text: "Sylheti" },
    { text: "Tamil" },
    { text: "Tibetan" },
    { text: "Telegu" },
    { text: "Elakil" },
    { text: "Tagalog" },
    { text: "Thai" },
    { text: "Tigrinian" },
    { text: "Tigre" },
    { text: "Tajik" },
    { text: "Taiwanese" },
    { text: "Turkmanish" },
    { text: "Tswana" },
    { text: "Turkish" },
    { text: "Twi" },
    { text: "Ugandan" },
    { text: "Ukranian" },
    { text: "Urdu" },
    { text: "Ussian" },
    { text: "Uzbek" },
    { text: "Vietnamese" },
    { text: "Welsh" },
    { text: "Wolof" },
    { text: "Xhosa" },
    { text: "Yugoslavian" },
    { text: "Yiddish" },
    { text: "Yoruba" },
    { text: "Zulu" }
  ]
}) }}