{# Client Support Needs Form Partial #}
{# This partial expects the following variables to be set in the parent template: #}
{# - caseReference: The case reference #}
{# - csrfToken: CSRF token #}
{# - formAction: The form action URL #}
{# - error: Error object (optional) #}
{# - current* variables: Current form values #}

{% if error %}
  {{ errorSummary(error.errorSummaryList) }}
  {% set errorMessages = {
    notes: {text: error.inputErrors.notes } if error.inputErrors.note
  } %}
{% endif %}

<form method="post" action="{{ formAction }}">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">

  {% set language %}
    {% include "./_form-language.njk" %}
  {% endset -%}

  {% set notes %}
  {{ govukTextarea({
    label: {
      text: t('forms.clientDetails.clientSupportNeeds.notesTextAreaHint')
    },
    id: "notes",
    name: "notes",
    errorMessage: errorMessages.notes if error,
    autocomplete: "off"
  }) }}
  {% endset -%}

  {{ govukCheckboxes({
    name: "contact",
    hint: {
      text: t('forms.clientDetails.clientSupportNeeds.checkBoxHint')
    },
    items: [
      {
        value: "bslWebcam",
        text: t('forms.clientDetails.clientSupportNeeds.britishSignLanguage')
      },
      {
        value: "textRelay",
        text: t('forms.clientDetails.clientSupportNeeds.textRelay')
      },
      {
        value: "callbackPreference",
        text: t('forms.clientDetails.clientSupportNeeds.callbackPreference')
      },
      {
        value: "languageSelection",
        text: t('forms.clientDetails.clientSupportNeeds.language'),
        conditional: {
          html: language
        }
      },
      {
        value: "otherSupport",
        text: t('forms.clientDetails.clientSupportNeeds.otherSupport'),
        conditional: {
          html: notes
        }
      }
    ]
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: t('common.save')
    }) }}
    <a class="govuk-link" href="{{ backLinkHref }}">{{ t('common.cancel') }}</a>
  </div>
</form>