{% extends "base.njk" %}

{% set pageTitleKey = 'pages.error.pageTitle' %}
{% set h1Key = status %}

{% if status == 404 %}
  {% set pageTitleKey = 'pages.error.pageTitle404' %}
  {% set h1Key = t('pages.error.pageHeading404') %}
{% elif status == 400 %}
  {% set pageTitleKey = 'pages.error.pageTitle400' %}
  {% set h1Key = t('pages.error.pageHeading400') %}
{% endif %}

{% block pageTitle %}{{ t(pageTitleKey, { serviceName: config.SERVICE_NAME }) }}{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ h1Key }}</h1>
            {% if status == 404 %}
              <p class="govuk-body">{{ t('pages.error.checkWebAddress') }}</p>
              <p class="govuk-body">{{ t('pages.error.technicalSupportPrefix') }}
                <a class="govuk-link" href="/help">{{ t('pages.error.technicalSupportLink') }}</a>.
              </p>
          {% else %}
            <p class="govuk-body">{{ error }}</p>
          {% endif %}
        </div>
    </div>
{% endblock %}
