{% extends "base.njk" %}

{% block content %}
    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
        text: t('pages.home.underConstruction'),
        iconFallbackText: t('common.warning')
    }) }}
{% endblock %}