{% set statusConfig = {
  "new": {
    text: t('common.status.new'),
    classes: "govuk-tag--green govuk-!-margin-bottom-2"
  },
  "pending": {
    text: t('common.status.pending'),
    classes: "govuk-tag--blue govuk-!-margin-bottom-2"
  },
  "advising": {
    text: t('common.status.advising'),
    classes: "govuk-tag--light-blue govuk-!-margin-bottom-2"
  },
  "closed": {
    text: t('common.status.closed'),
    classes: "govuk-tag--grey govuk-!-margin-bottom-2"
  },
  "completed": {
    text: t('common.status.completed'),
    classes: "govuk-tag--pink govuk-!-margin-bottom-2"
  }
} %}

{% set currentStatus = caseStatusToStates[client.caseStatus | lower] %}

{{ govukTag({
  text: statusConfig[currentStatus].text,
  classes: statusConfig[currentStatus].classes
}) }}

<h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ t('pages.caseDetails.dateReceived') }} <span class="govuk-body-l">{{ client.provider_assigned_at | formatDate }}</span></h2>
<h2 class="govuk-heading-m govuk-!-margin-bottom-7">{{ t('pages.caseDetails.laaReference') }} <span class="govuk-body-l">{{ client.laaReference or t('pages.caseDetails.notProvided') }}</span></h2>

<div class="govuk-button-group">
  {% if currentStatus == "new" or currentStatus == "pending" %}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.acceptCase')
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.rejectCase'),
      classes: "govuk-button--secondary"
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.splitCase'),
      classes: "govuk-button--secondary"
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.leaveFeedback'),
      classes: "govuk-button--secondary"
    }) }}
  {% elif currentStatus == "advising" %}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.generateLegalHelpForm')
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.rejectCase'),
      classes: "govuk-button--secondary"
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.splitCase'),
      classes: "govuk-button--secondary"
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.closeCase'),
      classes: "govuk-button--secondary"
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.leaveFeedback'),
      classes: "govuk-button--secondary"
    }) }}
  {% elif currentStatus == "closed" %}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.closeCase')
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.leaveFeedback'),
      classes: "govuk-button--secondary"
    }) }}
  {% elif currentStatus == "completed" %}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.reopenCase')
    }) }}
    {{ govukButton({
      text: t('pages.caseDetails.buttons.generateLegalHelpForm'),
      classes: "govuk-button--secondary"
    }) }}
  {% endif %}
</div>
