{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set eventTagConfig = {
  "CASE_VIEWED": {
    text: t('common.eventCode.casePending'),
    classes: "govuk-tag--orange event-tag-spacing tag-padding"
  },
  "MIS": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey event-tag-spacing tag-padding"
  },
  "MIS-OOS": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey event-tag-spacing tag-padding"
  },
  "MIS-MEANS": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey event-tag-spacing tag-padding"
  },
  "COI": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey event-tag-spacing tag-padding"
  },
  "SPOP": {
    text: t('common.eventCode.caseReOpened'),
    classes: "govuk-tag--blue event-tag-spacing tag-padding"
  },
  "REOPEN": {
    text: t('common.eventCode.caseReOpened'),
    classes: "govuk-tag--blue event-tag-spacing tag-padding"
  },
  "REF-INT": {
    text: t('common.eventCode.caseSplit'),
    classes: "govuk-tag--yellow event-tag-spacing tag-padding"
  },
  "CLSP": {
    text: t('common.eventCode.caseCompleted'),
    classes: "govuk-tag--pink event-tag-spacing tag-padding"
  },
  "MERI": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey event-tag-spacing tag-padding"
  },
  "DUPL": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey event-tag-spacing tag-padding"
  },
  "CLOT": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey event-tag-spacing tag-padding"
  }
} %}

<span class="case-details-tab-heading-alignment govuk-!-margin-top-7 govuk-!-margin-bottom-7">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{ t('pages.caseDetails.tabs.caseDetails') }}</h2>
  <a class="govuk-body govuk-link govuk-!-margin-bottom-0" href="#providerNote">{{ t('pages.caseDetails.caseDetailsSection.noteLabel') }}</a>
</span>
{% if error %}
  {% set errorMessages = {
    providerNote: {
      text: error.inputErrors.providerNote
    }
    if error.inputErrors.providerNote
  } %}
{% endif %}
{# Client problem section #}
{% if data.scopeTraversal or data.client_notes %}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-3">{{ t('pages.caseDetails.caseDetailsSection.clientProblemTitle') }}</h3>

  {% if data.scopeTraversal and data.scopeTraversal.category %}

    {% set label = t('pages.caseDetails.caseDetailsSection.category') | replace(":", "") | capitalize %}

    {# Category value #}

    {% set category = data.scopeTraversal.category %}

    {% set rows = ([
      [
        {
          text: label
        }, {
          text: category | string
        }
      ]
    ]) %}

    {# Onward Q&A rows #}

    {% set qas = data.scopeTraversal.onwardQuestion %}

    {% if qas %}
      {% for qa in qas %}
        {% set rows = rows.concat([
          [
            {
              text: qa.question | string
            }, {
              text: qa.answer | string
            }
          ]
        ]) %}
      {% endfor %}
    {% endif %}

    {{ govukTable({
    captionClasses: "govuk-table__caption--m",
    classes: "govuk-!-margin-bottom-3",
    firstCellIsHeader: true,
    rows: rows
  }) }}

  {% endif %}

  {% if data.scopeTraversal %}
    <p class="govuk-hint govuk-!-margin-bottom-8 govuk-!-font-size-16">{{ data.scopeTraversal.created }}</p>
  {% endif %}

{% endif %}

{# Operator diagnosis section #}
{% if data.diagnosis %}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-3">{{ t('pages.caseDetails.caseDetailsSection.operatorDiagnosisTitle') }}</h3>
{% set rows = [] %}
  {% if data.diagnosis.diagnosisNode and data.diagnosis.diagnosisNode.length > 0 %}
    {% for node in data.diagnosis.diagnosisNode %}
      {% set rows = rows.concat([
        [
          {
            text: node.node
          }
        ]
      ]) %}
    {% endfor %}
    {% else %}
  <p class="govuk-body govuk-!-margin-bottom-3">{{ t('pages.caseDetails.caseDetailsSection.noNotes') }}</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-0"/>
  {% endif %}

  {{ govukTable({
    captionClasses: "govuk-table__caption--s",
    classes: "govuk-!-margin-bottom-0",
    firstCellIsHeader: false,
    rows: rows
  }) }}

{% endif %}

{# Operator notes section #}
{% if data.operatorNotes %}
  <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-3">{{ t('pages.caseDetails.caseDetailsSection.operatorNotesTitle') }}</h3>
  <p class="govuk-body govuk-!-margin-bottom-3">{{ data.operatorNotes }}</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-0 govuk-!-margin-top-0"/>
{% endif %}

{# Providers notes section #}
<h3 class="govuk-heading-s case-details-tab-provider-notes-section">{{ t('pages.caseDetails.caseDetailsSection.providerNotesTitle') }}</h3>
{% if combinedHistoryAndCaseLogNotes and combinedHistoryAndCaseLogNotes.length > 0 %}
  {% for item in combinedHistoryAndCaseLogNotes %}
    {% if item.type == 'caseLog' %}
      {{ govukTag({
        text: eventTagConfig[item.code].text,
        classes: eventTagConfig[item.code].classes
      }) }}
    {% endif %}

    <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-3">{{ item.notes }}</p>
    <p class="govuk-hint govuk-!-margin-bottom-3 govuk-!-margin-top-1 govuk-!-font-size-16">{{ item.createdBy }} on {{ item.created }}</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-1 govuk-!-margin-bottom-0"/>
  {% endfor %}
{% else %}
  <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-3">{{ t('pages.caseDetails.caseDetailsSection.noNotes') }}</p>
{% endif %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-s govuk-!-margin-bottom-3 govuk-!-margin-top-6">{{ t('pages.caseDetails.caseDetailsSection.noteLabel') }}</h3>

      <form method="post" action="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukCharacterCount({
        id: "providerNote",
        name: "providerNote",
        value: currentProviderNote,
        errorMessage: errorMessages.providerNote if error,
        maxlength: maxProviderNoteLength,
        threshold: characterThreshold,
        formGroup: { classes: "govuk-!-margin-bottom-0" }
      }) }}

        {{ govukButton({
        text: t('common.save')
      }) }}
      </form>
    </div>
  </div>
{% endblock %}