{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% set statusConfig = {
  "new": {
    text: t('common.status.new'),
    classes: "govuk-tag--green govuk-!-margin-bottom-2"
  },
  "pending": {
    text: t('common.status.pending'),
    classes: "govuk-tag--blue govuk-!-margin-bottom-2"
  },
  "advising": {
    text: t('common.status.advising'),
    classes: "govuk-tag--light-blue govuk-!-margin-bottom-2"
  },
  "closed": {
    text: t('common.status.closed'),
    classes: "govuk-tag--grey govuk-!-margin-bottom-2"
  },
  "completed": {
    text: t('common.status.completed'),
    classes: "govuk-tag--pink govuk-!-margin-bottom-2"
  }
} %}

{% set currentStatus = caseStatusToStates[client.caseStatus | lower] %}

{# Case state change button logic #}
{% if currentStatus == "new" %}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.advising'),
      href: "/cases/" + client.caseReference + "/accept",
      attributes: {
        "data-method": "post"
      }
    }, {
      text: t('pages.caseDetails.buttons.actions.pending'),
      href: "#"
    }, {
      text: t('pages.caseDetails.buttons.actions.closed'),
      href: "#"
    }
  ] %}
{% elif currentStatus == "pending" %}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.advising'),
      href: "/cases/" + client.caseReference + "/accept",
      attributes: {
        "data-method": "post"
      }
    }, {
      text: t('pages.caseDetails.buttons.actions.closed'),
      href: "#"
    }
  ] %}
{% elif currentStatus == "advising" %}
  {# Empty hidden menu item to fix the issue: MOJ Button Menu component hides the dropdown when there's only one item #}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.completed'),
      href: "/cases/" + client.caseReference + "/close",
      attributes: {
        "data-method": "post"
      }
    }, {
      text: '',
      classes: 'govuk-visually-hidden'
    }
  ] %}
{% elif currentStatus == "completed" %}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.advising'),
      href: "/cases/" + client.caseReference + "/why-reopen"
    }, {
      text: '',
      classes: 'govuk-visually-hidden'
    }
  ] %}
  {% elif currentStatus == "closed" %}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.advising'),
      href: "/cases/" + client.caseReference + "/why-reopen"
    }, {
      text: '',
      classes: 'govuk-visually-hidden'
    }
  ] %}
{% endif %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6"/>
    <div class="govuk-!-display-block">
      {# Name and case reference #}
      <div class="govuk-!-display-inline-block govuk-!-static-padding-right-6">
        <h1 class="govuk-heading-s govuk-!-margin-bottom-2">{{ client.fullName }}</h1>
        <p class="govuk-body">{{ client.caseReference }}</p>
      </div>
      {# Date received #}
      <div class="govuk-!-display-inline-block govuk-!-static-padding-right-6">
        <h1 class="govuk-heading-s govuk-!-margin-bottom-2">{{ t('pages.caseDetails.dateReceived') }}</h1>
        <p class="govuk-body">{{ client.provider_assigned_at | formatDate }}</p>
      </div>
      {# LAA reference #}
      <div class="govuk-!-display-inline-block">
        <h1 class="govuk-heading-s govuk-!-margin-bottom-2">{{ t('pages.caseDetails.laaReference') }}</h1>
        <p class="govuk-body">{{ client.laaReference }}</p>
      </div>
    </div>

<div class="govuk-!-display-inline-block">
  <div class="govuk-!-display-inline-block">
    {{ govukTag({
      text: statusConfig[currentStatus].text,
      classes: statusConfig[currentStatus].classes}) }}
  </div>
  <span class="govuk-!-margin-left-2 govuk-!-margin-right-2"> | </span>
  <div class="govuk-!-display-inline-block">
    {{ mojButtonMenu({
      id: "change-case-status-menu",
      button: {
        text: t('pages.caseDetails.buttons.label'),
        classes: "govuk-button--secondary govuk-!-display-inline-block govuk-!-margin-bottom-2"
      },
      preventDoubleClick: true,
      items: menuItems
      })
    }}
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6"/>