{% from "govuk/components/tag/macro.njk" import govukTag %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{% set statusConfig = {
  "new": {
    text: t('common.status.new'),
    classes: "govuk-tag--green govuk-!-margin-bottom-2 tag-padding"
  },
  "pending": {
    text: t('common.status.pending'),
    classes: "govuk-tag--blue govuk-!-margin-bottom-2 tag-padding"
  },
  "advising": {
    text: t('common.status.advising'),
    classes: "govuk-tag--light-blue govuk-!-margin-bottom-2 tag-padding"
  },
  "closed": {
    text: t('common.status.closed'),
    classes: "govuk-tag--grey govuk-!-margin-bottom-2 tag-padding"
  },
  "completed": {
    text: t('common.status.completed'),
    classes: "govuk-tag--pink govuk-!-margin-bottom-2 tag-padding"
  }
} %}

{% set currentStatus = client.caseStatus %}

{# Case state change button logic #}
{% if currentStatus == "new" %}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.advising'),
      href: "/cases/" + client.caseReference + "/accept",
      attributes: {
        "data-method": "post"
      }
    }, {
      text: t('pages.caseDetails.buttons.actions.pending'),
      href: "/cases/" + client.caseReference + "/why-pending"
    }, {
      text: t('pages.caseDetails.buttons.actions.closed'),
      href: "/cases/" + client.caseReference + "/why-closed"
    }
  ] %}
{% elif currentStatus == "pending" %}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.advising'),
      href: "/cases/" + client.caseReference + "/accept",
      attributes: {
        "data-method": "post"
      }
    }, {
      text: t('pages.caseDetails.buttons.actions.closed'),
      href: "/cases/" + client.caseReference + "/why-closed"
    }
  ] %}
{% elif currentStatus == "advising" %}
  {# Empty hidden menu item to fix the issue: MOJ Button Menu component hides the dropdown when there's only one item #}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.completed'),
      href: "/cases/" + client.caseReference + "/completed",
      attributes: {
        "data-method": "post"
      }
    }, {
      text: '',
      classes: 'govuk-visually-hidden'
    }
  ] %}
{% elif currentStatus == "closed" %}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.advising'),
      href: "/cases/" + client.caseReference + "/why-reopen-closed-case"
    }, {
      text: '',
      classes: 'govuk-visually-hidden'
    }
  ] %}
{% elif currentStatus == "completed" %}
  {% set menuItems = [
    {
      text: t('pages.caseDetails.buttons.actions.advising'),
      href: "/cases/" + client.caseReference + "/why-reopen-completed-case"
    }, {
      text: '',
      classes: 'govuk-visually-hidden'
    }
  ] %}
{% endif %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6"/>
<div class="govuk-!-display-block">
  {# Name and case reference #}
  <div class="govuk-!-display-inline-block govuk-!-static-padding-right-6">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ client.fullName }}</h2>
    <p class="govuk-body">{{ client.caseReference }}</p>
  </div>
  {# Date received #}
  <div class="govuk-!-display-inline-block govuk-!-static-padding-right-6">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ t('pages.caseDetails.dateReceived') }}</h2>
    <p class="govuk-body">{{ client.provider_assigned_at | formatDate }}</p>
  </div>
  {# LAA reference #}
  <div class="govuk-!-display-inline-block">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ t('pages.caseDetails.laaReference') }}</h2>
    <p class="govuk-body">{{ client.laaReference }}</p>
  </div>
</div>

<div class="case-status-wrapper govuk-!-display-inline-block">
  {{ govukTag({
    text: statusConfig[currentStatus].text,
    classes: statusConfig[currentStatus].classes}) 
  }}

  <span class="pipe"></span>

  {% if not hideStatusButton%}
    {{ mojButtonMenu({
      id: "change-case-status-menu",
      button: {
        text: t('pages.caseDetails.buttons.label'),
        classes: "govuk-button--secondary govuk-!-display-inline-block govuk-!-margin-bottom-2"
      },
      preventDoubleClick: true,
      items: menuItems
      })
    }}
  {% endif %}
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6"/>