{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set eventTagConfig = {
  "CASE_VIEWED": {
    text: t('common.eventCode.casePending'),
    classes: "govuk-tag--orange tag-padding"
  },
  "MIS": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey tag-padding",
    isClosed: true
  },
  "MIS-OOS": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey tag-padding",
    isClosed: true
  },
  "MIS-MEANS": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey tag-padding",
    isClosed: true
  },
  "COI": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey tag-padding",
    isClosed: true
  },
  "SPOP": {
    text: t('common.eventCode.caseReOpened'),
    classes: "govuk-tag--blue tag-padding"
  },
  "REOPEN": {
    text: t('common.eventCode.caseReOpened'),
    classes: "govuk-tag--blue tag-padding"
  },
  "REF-INT": {
    text: t('common.eventCode.caseSplit'),
    classes: "govuk-tag--yellow tag-padding"
  },
  "CLSP": {
    text: t('common.eventCode.caseCompleted'),
    classes: "govuk-tag--pink tag-padding"
  },
  "MERI": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey tag-padding",
    isClosed: true
  },
  "DUPL": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey tag-padding",
    isClosed: true
  },
  "CLOT": {
    text: t('common.eventCode.caseClosed'),
    classes: "govuk-tag--grey tag-padding",
    isClosed: true
  }
} %}

{# Get category #}
{% set categoryValue = t('common.notProvided') %}

{% if data.diagnosis and data.diagnosis.category %}
  {% set categoryValue = data.diagnosis.category | capitalize %}
{% endif %}

{# Get latest MCC note #}
{% set mccNote = null %}

{% for item in combinedHistoryAndCaseLogNotes | reverse %}
  {% if not mccNote and data.diagnosis.diagnosisNode.length == 0 and item.type == "caseLog" and item.code == "CATEGORY_CHANGED" and item.notes and categoryValue != "Not provided" %}
    {% set mccNote = item %}
  {% endif %}
{% endfor %}

<span class="case-details-tab-heading-alignment">
  <h2 class="govuk-heading-m">{{ t('pages.caseDetails.tabs.caseDetails') }}</h2>
  <a class="govuk-body govuk-link" href="#providerNote">{{ t('pages.caseDetails.caseDetailsSection.noteLabel') }}</a>
</span>

{% if error %}
  {% set errorMessages = {
    providerNote: {
      text: error.inputErrors.providerNote
    }
    if error.inputErrors.providerNote
  } %}
{% endif %}

{# Client problem from check if you can get legal aid, Summary card #}
{% if data.scopeTraversal or data.client_notes %}
  {% set clientProblemRows = [] %}

  {# Category value #}
  {% if data.scopeTraversal and data.scopeTraversal.category %}
    {% set clientProblemRows = (
      clientProblemRows.push({
        key: { text: t('pages.caseDetails.caseDetailsSection.category') | replace(':', '') | capitalize },
        value: { text: data.scopeTraversal.category | string }
      }),
      clientProblemRows
    ) %}
  {% endif %}

  {# Sub Category value #}
  {% if data.scopeTraversal and data.scopeTraversal.subCategory %}
    {% set clientProblemRows = (
      clientProblemRows.push({
        key: { text: t('pages.caseDetails.caseDetailsSection.subCategory')| replace(':', '') | capitalize },
        value: { text: data.scopeTraversal.subCategory | string }
      }),
      clientProblemRows
    ) %}
  {% endif %}

  {# Onward Q&A rows #}
  {% if data.scopeTraversal and data.scopeTraversal.onwardQuestion %}
    {% for qa in data.scopeTraversal.onwardQuestion %}
      {% set clientProblemRows = (
        clientProblemRows.push({
          key: { text: qa.question | string },
          value: { text: qa.answer | string }
        }),
        clientProblemRows
      ) %}
    {% endfor %}
  {% endif %}

  {# Client notes #}
  {% if data.client_notes %}
    {% set clientProblemRows = (
      clientProblemRows.push({
        key: { text: t('pages.caseDetails.caseDetailsSection.tellUsMore') | replace(':', '') | capitalize },
        value: { text: data.client_notes | string }
      }),
      clientProblemRows
    ) %}
  {% endif %}

  {# Financial status #}
  {% if data.scopeTraversal and data.scopeTraversal.financialAssessmentStatus %}
    {% set clientProblemRows = (
      clientProblemRows.push({
        key: { text: t('pages.caseDetails.caseDetailsSection.financialAssessmentStatus') | replace(':', '') | capitalize },
        value: { text: data.scopeTraversal.financialAssessmentStatus | string }
      }),
      clientProblemRows
    ) %}
  {% endif %}

  {# Date this came from `check if you can get legal aid` #}
  {% if data.scopeTraversal and data.scopeTraversal.created %}
    {% set scopeTraversalDate %}
      <p class="govuk-hint case-details-tab-date-hint">{{ data.scopeTraversal.created }}</p>
    {% endset %}

    {% set clientProblemRows = (
      clientProblemRows.push({
        key: { html: scopeTraversalDate },
        value: { text: "" }
      }),
      clientProblemRows
    ) %}
  {% endif %}

  {% if clientProblemRows.length > 0 %}
    {{ govukSummaryList({
      card: {
        title: { text: t('pages.caseDetails.caseDetailsSection.clientProblemTitle') }
      },
      rows: clientProblemRows
    }) }}
  {% endif %}
{% endif %}


{# Category of law, Summary card #}
{% if data %}
  {% set categoryRows = [
    {
      key: { text: t('pages.caseDetails.caseDetailsSection.categoryCapitalised') },
      value: { text: categoryValue }
    }
  ] %}

  {# Add note row only if MCC note exists #}
  {% if mccNote and mccNote.notes.trim() %}
    {% set mccNoteAndDate %}
      {{ mccNote.notes }}
      <br>
      <p class="govuk-hint govuk-hint case-details-tab-date-hint">Changed by {{ mccNote.createdBy }} on {{ mccNote.created }}</p>
    {% endset %}

    {% set categoryRows = categoryRows.concat([
      {
        key: { text: t('pages.caseDetails.caseDetailsSection.categoryNote') },
        value: { html: mccNoteAndDate }
      }
    ]) %}
  {% endif %}

  {{ govukSummaryList({
    card: {
      title: { text: t('pages.caseDetails.changeCategoryOfLaw.h3') },
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/change-law-category",
            text: t('common.change'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.changeCategory')
          }
        ] if moreThanOneCategory else []
      }
    },
    rows: categoryRows
  }) }}
{% endif %}


{# Operator scope diagnosis, Summary card #}
{% set operatorScopeValue = t('common.notProvided') %}

{% if data.diagnosis %}
  {% set operatorScopeValue = t('pages.caseDetails.caseDetailsSection.noOperatorScope') %}
{% endif %}

{% if data and not mccNote %}
  {% if data.diagnosis.diagnosisNode and data.diagnosis.diagnosisNode.length > 0 %}
    {% set diagnosisNodesHtml %}
      {% for node in data.diagnosis.diagnosisNode %}
        {% set marginClass = "govuk-!-margin-bottom-5" if not loop.last else "" %}
        <p class="govuk-body {{ marginClass }}">{{ node.node }}</p>
      {% endfor %}
    {% endset %}

    {{ govukSummaryList({
      card: {
        title: { text: t('pages.caseDetails.caseDetailsSection.operatorDiagnosisTitle') }
      },
      rows: [
        {
          key: { text: t('pages.caseDetails.caseDetailsSection.diagnosis') },
          value: { html: diagnosisNodesHtml }
        }
      ]
    }) }}
  {% else %}
    {{ govukSummaryList({
      card: {
        title: { text: t('pages.caseDetails.caseDetailsSection.operatorDiagnosisTitle') }
      },
      rows: [
        {
          classes: "empty-summary-row",
          key: { html: "" },
          value: { text: operatorScopeValue }
        }
      ]
    }) }}
  {% endif %}
{% endif %}


{# Notes from operator, Summary card #}
{% if data.operatorNotes %}
  {{ govukSummaryList({
    card: {
      title: { text: t('pages.caseDetails.caseDetailsSection.operatorNotesTitle') }
    },
    rows: [
      {
        key: { text: t('pages.caseDetails.caseDetailsSection.operatorNote') },
        value: { text: data.operatorNotes }
      }
    ]
  }) }}
{% endif %}


{# Notes from provider, Summary card #}
{% set providerNoteRows = [] %}
{% for item in combinedHistoryAndCaseLogNotes %}
  {% if item.code != "CATEGORY_CHANGED" %}
    {% set noteKey %}
      {% if item.type == 'caseLog' and eventTagConfig[item.code] %}
        {{ govukTag({
          text: eventTagConfig[item.code].text,
          classes: eventTagConfig[item.code].classes
        }) }}
      {% endif %}

      {# only show translated outcome code if a closed event tag #}
      {% if item.type == 'caseLog' and eventTagConfig[item.code].isClosed %}
        <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-1">{{ t('common.outcomeCode.' + item.code) }}</p>
      {% endif %}
      <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-0">{{ item.createdBy }}</p> 
      <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-0">{{ item.created }}</p>  
    {% endset %}

    {% set providerNoteRows = (
      providerNoteRows.push({
        key: { html: noteKey},
        value: { text: item.notes }
      }),
      providerNoteRows
    ) %}
  {% endif %}
{% endfor %}

{% if providerNoteRows.length > 0 %}
  {{ govukSummaryList({
    card: {
      title: { text: t('pages.caseDetails.caseDetailsSection.providerNotesTitle') }
    },
    rows: providerNoteRows
  }) }}
{% else %}
  {{ govukSummaryList({
    card: {
      title: { text: t('pages.caseDetails.caseDetailsSection.providerNotesTitle') }
    },
    rows: [
      {
        classes: "empty-summary-row",
        key: { html: "" },
        value: { text: t('pages.caseDetails.caseDetailsSection.noProviderNotes') }
      }
    ]
  }) }}
{% endif %}


{# Add a note #}
{% block formContent %}
  <div class="govuk-grid-row negative-margin">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukCharacterCount({
          id: "providerNote",
          name: "providerNote",
          label: {
              text: t('pages.caseDetails.caseDetailsSection.noteLabel'),
              classes: "govuk-label--s govuk-!-margin-top-6 govuk-!-margin-bottom-3",
              isPageHeading: false
          },
          value: currentProviderNote,
          errorMessage: errorMessages.providerNote if error,
          maxlength: maxProviderNoteLength,
          threshold: characterThreshold,
          formGroup: { classes: "govuk-!-margin-bottom-0" }
        }) }}

        {{ govukButton({
          text: t('common.save')
        }) }}
      </form>
    </div>
  </div>
{% endblock %}