{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}

<span class="case-details-tab-heading-alignment govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-m">{{ t('pages.caseDetails.tabs.caseDetails') }}</h2>
  <a class="govuk-body govuk-link" href="#providerNote">{{ t('pages.caseDetails.caseDetailsSection.noteLabel') }}</a>
</span>

{# Client problem section #}
{% if data.scopeTraversal %}
  <h3 class="govuk-heading-s">{{ t('pages.caseDetails.caseDetailsSection.clientProblemTitle') }}</h3>

  <p class="govuk-hint">{{ data.scopeTraversal.created }}</p>

  <ul class="govuk-list govuk-list--bullet">
    {% if data.scopeTraversal.category %}
      <li>{{ t('pages.caseDetails.caseDetailsSection.category') }} {{ data.scopeTraversal.category }}</li>
    {% endif %}

    {% if data.scopeTraversal.subCategory %}
      <li>{{ t('pages.caseDetails.caseDetailsSection.subCategory') }} {{ data.scopeTraversal.subCategory }}</li>
    {% endif %}

    {% if data.scopeTraversal.onwardQuestion %}
      {% for qa in data.scopeTraversal.onwardQuestion %}
        <li>{{ qa.question }} {{ qa.answer }}</li>
      {% endfor %}
    {% endif %}

    {% if data.scopeTraversal.client_notes %}
      <li>{{ t('pages.caseDetails.caseDetailsSection.tellUsMore') }} {{ data.client_notes }}</li>
    {% endif %}

    {% if data.scopeTraversal.financialAssessmentStatus %}
      <li>{{ t('pages.caseDetails.caseDetailsSection.financialAssessmentStatus') }} {{ data.scopeTraversal.financialAssessmentStatus }}</li>
    {% endif %}
  </ul>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6"/>
{% endif %}

{# Operator diagnosis section #}
{% if data.diagnosis %}
  <h3 class="govuk-heading-s">{{ t('pages.caseDetails.caseDetailsSection.operatorDiagnosisTitle') }}</h3>

  <ul class="govuk-list govuk-list--bullet">
    {% if data.diagnosis.category %}
      <li>{{ t('pages.caseDetails.caseDetailsSection.category') }} {{ data.diagnosis.category }}</li>
    {% endif %}

    {% if data.diagnosis.diagnosisNode %}
      {% for node in data.diagnosis.diagnosisNode %}
        <li>{{ node.node }} </li>
      {% endfor %}
    {% endif %}
  </ul>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6"/>
{% endif %}


{# Operator notes section #}
{% if data.notes %}
  <h3 class="govuk-heading-s">{{ t('pages.caseDetails.caseDetailsSection.operatorNotesTitle') }}</h3>
  <p class="govuk-body">{{ data.notes }}</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6"/>
{% endif %}


{# Providers notes section #}
{% if data.notesHistory.providerNotes %}
  <h3 class="govuk-heading-s">{{ t('pages.caseDetails.caseDetailsSection.providerNotesTitle') }}</h3>
  <p class="govuk-hint">{{ data.notesHistory.createdBy }} on {{ data.notesHistory.created }}</p>
  <p class="govuk-body">{{ data.notesHistory.providerNotes }}</p>
{% else %}
  <h3 class="govuk-heading-s">{{ t('pages.caseDetails.caseDetailsSection.providerNotesTitle') }}</h3>
  <p class="govuk-body">{{ t('pages.caseDetails.caseDetailsSection.noNotes') }}</p>
{% endif %}


{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ errorSummary(error.errorSummaryList) }}
        {% set errorMessages = {
          providerNote: {
            text: error.inputErrors.providerNote
          }
          if error.inputErrors.providerNote
        } %}
      {% endif %}

      <h3 class="govuk-heading-s govuk-!-margin-top-5">{{ t('pages.caseDetails.caseDetailsSection.noteLabel') }}</h3>

      <form method="post" action="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukCharacterCount({
        id: "providerNote",
        name: "providerNote",
        value: currentProviderNote,
        errorMessage: errorMessages.providerNote if error,
        maxlength: maxProviderNoteLength,
        threshold: characterThreshold
      }) }}

        {{ govukButton({
        text: t('common.save')
      }) }}
      </form>
    </div>
  </div>
{% endblock %}