{% from "components/summaryCardComponent.njk" import summaryCardComponent %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set phoneNumberContent %}
{% if data.safeToCall and data.announceCall %}
  {{ data.phoneNumber }}
{% elif data.safeToCall and not data.announceCall %}
  {{ data.phoneNumber }}
  {{ govukWarningText({
        text: "Do not say the call is from Civil Legal Advice",
        iconFallbackText: "Warning"
      }) }}
{% elif not data.safeToCall %}
    The client is not safe to call
{% else %}
    No phone number conditions met
  {% endif %}
{% endset %}

{% set phoneNumberContentThirdParty %}
  {% if data.thirdParty.safeToCall %}
    {{ data.thirdParty.contactNumber }}
  {% else %}
    The third party is not safe to call
  {% endif %}
{% endset %}

{% set reasonableAdjustmentsContent %}
{% if data.reasonableAdjustments and data.reasonableAdjustments.selected and data.reasonableAdjustments.selected.length > 0 %}
  {{ data.reasonableAdjustments.selected | join('<br>') | safe }}
  {% if data.reasonableAdjustments.additionalInfo %}
    <br><br>{{ data.reasonableAdjustments.additionalInfo }}
  {% endif %}
{% endif %}
{% endset %}

{% macro renderAddress(address, postcode) %}
  {% if address %}
    {{ address }}
    {% if postcode %}
      <br>
      {{ postcode }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% set addressWithPostcode = renderAddress(data.address, data.postcode) %}
{% set addressWithPostcodeThirdParty = renderAddress(data.thirdParty.address, data.thirdParty.postcode) %}

{% set passphraseContent %}
  {% if data.thirdParty.passphraseSetUp %}
    {{ data.thirdParty.passphrase }}
  {% else %}
    No, {{ data.thirdParty.passphraseNotSetUpReason }}
  {% endif %}
{% endset %}

{% set relationshipToClient %}
  {% if data.thirdParty.relationshipToClient.selected %}
    {{ data.thirdParty.relationshipToClient.selected | join(', ') }}
  {% else %}
    ""
  {% endif %}
{% endset %}

{# Create enhanced data object with computed phone content #}
{% set constructedData = {
  fullName: data.fullName,
  dateOfBirth: data.dateOfBirth,
  email: data.emailAddress,
  phoneNumber: data.phoneNumber,
  specialNotes: data.specialNotes,
  reasonableAdjustments: data.reasonableAdjustments,
  computedReasonableAdjustments: reasonableAdjustmentsContent,
  language: data.language,
  address: data.address,
  postcode: data.postcode,
  computedPhoneNumber: phoneNumberContent,
  computedAddress: addressWithPostcode,
  fullNameThirdParty: data.thirdParty.fullName,
  computedAddressThirdParty: addressWithPostcodeThirdParty,
  computedPhoneNumberThirdParty: phoneNumberContentThirdParty,
  emailAddressThirdParty: data.thirdParty.emailAddress,
  relationshipToClientThirdParty: relationshipToClient,
  passphraseContent: passphraseContent
} %}

<h2 class="govuk-heading-m">Client details</h2>
{# Client info summary card #}
{{ summaryCardComponent({
  data: constructedData,
  card: {
    title: {
      text: "About the client"
    }
  },
  rows: [
    {
      label: "Name",
      key: "fullName",
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/client-details/edit/name",
            text: "Change",
            visuallyHiddenText: "Change Name"
          }
        ]
      }
    },
    {
      label: "Date of birth",
      key: "dateOfBirth",
      actions: {
        items: [
          {
            href: "/",
            text: "Change",
            visuallyHiddenText: "Change Date of birth"
          }
        ]
      }
    }
  ]
}) }}
{# Contact Details summary card #}
{{ summaryCardComponent({
  data: constructedData,
  card: {
    title: {
      text: "Contact details"
    }
  },
  rows: [
    {
      label: "Reasonable adjustments",
      key: "computedReasonableAdjustments",
      html: true,
      actions: {
        items: [
          {
            href: "/",
            text: "Change",
            visuallyHiddenText: "Change Reasonable adjustments"
          }
        ]
      }
    },
    {
      label: "Language",
      key: "language",
      actions: {
        items: [
          {
            href: "/",
            text: "Change",
            visuallyHiddenText: "Change Language"
          }
        ]
      }
    },
    {
      label: "Phone number",
      key: "computedPhoneNumber",
      html: true,
      actions: {
        items: [
          {
            href: "/",
            text: "Change",
            visuallyHiddenText: "Change Phone number"
          }
        ]
      }
    },
    {
      label: "Email",
      key: "email",
      actions: {
        items: [
          {
            href: "/",
            text: "Change",
            visuallyHiddenText: "Change Email"
          }
        ]
      }
    },
    {
      label: "Address",
      key: "computedAddress",
      html: true,
      actions: {
        items: [
          {
            href: "/",
            text: "Change",
            visuallyHiddenText: "Change Address"
          }
        ]
      }
    }
  ]
}) }}

{% if data.thirdParty %}
  <h2 class="govuk-heading-m">Third party contact</h2>
  {# Third party info summary card #}
  {{ summaryCardComponent({
    data: constructedData,
    card: {
      title: {
        text: "Third party contact"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Change Third party contact details"
          },
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: "Remove Third party contact details"
          }
        ]
      }
    },
    rows: [
      {
        label: "Name",
        key: "fullNameThirdParty"
      },
      {
        label: "Address",
        key: "computedAddressThirdParty",
        html: true
      },
      {
        label: "Contact number",
        key: "computedPhoneNumberThirdParty",
        html: true
      },
      {
        label: "Email address",
        key: "emailAddressThirdParty"
      },
      {
        label: "Relationship to Client",
        key: "relationshipToClientThirdParty"
      },
      {
        label: "Passphrase",
        key: "passphraseContent",
        html: true
      }
    ]
  }) }}
{% else %}
  {{ govukButton({
    text: "Add third party contact",
    classes: "govuk-button--secondary"
  }) }}
{% endif %}