{% from "components/summaryCardComponent.njk" import summaryCardComponent %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set phoneNumberContent %}
  {% if data.safeToCall %}
    {{ data.phoneNumber }}
    {% if not data.announceCall %}
      {{ govukWarningText({
        text: t('forms.clientDetails.phoneNumber.doNotAnnounce'),
        iconFallbackText: t.common.warning
      }) }}
    {% endif %}
  {% else %}
    {{ govukWarningText({
      text: t('forms.clientDetails.phoneNumber.notSafeToCallWarning'),
      iconFallbackText: t.common.warning
    }) }}
  {% endif %}
{% endset %}

{% set phoneNumberContentThirdParty %}
  {% if data.thirdParty.safeToCall %}
    {{ data.thirdParty.contactNumber }}
  {% else %}
    {{ govukWarningText({
      text: t('forms.clientDetails.phoneNumber.notSafeToCallWarning'),
      iconFallbackText: t.common.warning
    }) }}
  {% endif %}
{% endset %}

{% macro renderAddress(address, postcode) %}
  {% if address or postcode %}
    {% if address %}
      {{ address }}
      {% if postcode %}
        <br>
      {% endif %}
    {% endif %}
    {% if postcode %}
      {{ postcode }}
    {% endif %}
  {% else %}
    {{ t('pages.caseDetails.notProvided') }}
  {% endif %}
{% endmacro %}

{% set addressWithPostcode = renderAddress(data.address, data.postcode) %}
{% set addressWithPostcodeThirdParty = renderAddress(data.thirdParty.address, data.thirdParty.postcode) %}

{% set passphraseContent %}
  {% if data.thirdParty.passphraseSetUp.selected[0] === "Yes" %}
    {{ data.thirdParty.passphraseSetUp.passphrase }}
  {% else %}
    {{ data.thirdParty.passphraseSetUp.selected[0] }}
  {% endif %}
{% endset %}

{% set relationshipToClient %}
  {% if data.thirdParty.relationshipToClient %}
    {{ t('common.values.thirdPartyRelationship.' + data.thirdParty.relationshipToClient) }}
  {% else %}
    ""
  {% endif %}
{% endset %}

{# Create enhanced data object with computed phone content #}
{% set constructedData = {
  fullName: data.fullName,
  dateOfBirth: data.dateOfBirth,
  email: data.emailAddress,
  phoneNumber: data.phoneNumber,
  specialNotes: data.specialNotes,
  address: data.address,
  postcode: data.postcode,
  computedPhoneNumber: phoneNumberContent,
  computedAddress: addressWithPostcode,
  bslWebcam: data.clientSupportNeeds.bslWebcam,
  textRelay: data.clientSupportNeeds.textRelay,
  callbackPreference: data.clientSupportNeeds.callbackPreference,
  languageSupportNeeds: data.clientSupportNeeds.languageSupportNeeds | capitaliseFirstLetter,
  notes: data.clientSupportNeeds.notes,
  fullNameThirdParty: data.thirdParty.fullName,
  computedAddressThirdParty: addressWithPostcodeThirdParty,
  computedPhoneNumberThirdParty: phoneNumberContentThirdParty,
  emailAddressThirdParty: data.thirdParty.emailAddress,
  relationshipToClientThirdParty: relationshipToClient,
  passphraseContent: passphraseContent
} %}

{# Client info summary card #}
{{ summaryCardComponent({
  data: constructedData,
  card: {
    title: {
      text: t('pages.caseDetails.clientDetails.aboutClient')
    }
  },
  rows: [
    {
      label: t('forms.clientDetails.name.label'),
      key: "fullName",
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/client-details/change/name",
            text: t('common.change'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.changeName')
          }
        ]
      }
    },
    {
      label: t('forms.clientDetails.dateOfBirth.label'),
      key: "dateOfBirth",
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/client-details/change/date-of-birth",
            text: t('common.change'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.changeDateOfBirth')
          }
        ]
      }
    }
  ]
}) }}
{# Contact Details summary card #}
{{ summaryCardComponent({
  data: constructedData,
  card: {
    title: {
      text: t('pages.caseDetails.clientDetails.contactDetails')
    }
  },
  rows: [
    {
      label: t('forms.clientDetails.phoneNumber.label'),
      key: "computedPhoneNumber",
      html: true,
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/client-details/change/phone-number",
            text: t('common.change'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.changePhoneNumber')
          }
        ]
      }
    },
    {
      label: t('forms.clientDetails.email.label'),
      key: "email",
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/client-details/change/email-address",
            text: t('common.change'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.changeEmail')
          }
        ]
      }
    },
    {
      label: t('forms.clientDetails.address.label'),
      key: "computedAddress",
      html: true,
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/client-details/change/address",
            text: t('common.change'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.changeAddress')
          }
        ]
      }
    }
  ]
}) }}

{% if data.clientSupportNeeds %}
  {# Client support needs summary card #}
  {{ summaryCardComponent({
    data: constructedData,
    card: {
      id: "client-support-needs",
      title: {
        text: t('pages.caseDetails.clientDetails.clientSupportNeeds')
      },
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/client-details/change/support-need",
            text: t('common.change'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.changeSupportNeeds')
          },
          {
            href: "/cases/" + data.caseReference + "/confirm/remove-support-need/",
            text: t('common.remove'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.removeSupportNeeds')
          }
        ]
      }
    },
    rows: [
      {
        label: t('forms.clientDetails.clientSupportNeeds.britishSignLanguage'),
        key: "bslWebcam"
      },
      {
        label: t('forms.clientDetails.clientSupportNeeds.textRelay'),
        key: "textRelay"
      },
      {
        label: t('forms.clientDetails.clientSupportNeeds.callbackPreference'),
        key: "callbackPreference"
      },
      {
        label: t('forms.clientDetails.clientSupportNeeds.language'),
        key: "languageSupportNeeds"
      },
      {
        label: t('forms.clientDetails.clientSupportNeeds.otherSupport'),
        key: "notes"
      }
    ]
  }) }}
{% else %}
  <div class="govuk-width-container govuk-!-margin-top-8 govuk-!-margin-bottom-5">
    {{ govukButton({
      href: "/cases/" + data.caseReference + "/client-details/add/support-need",
      text: t('pages.caseDetails.buttons.addClientSupportNeed'),
      classes: "govuk-button--secondary"
    }) }}
  </div>
{% endif %}


{% if data.thirdParty %}
  {# Third party info summary card #}
  {{ summaryCardComponent({
    data: constructedData,
    card: {
      title: {
        text: t('pages.caseDetails.clientDetails.thirdPartyContact')
      },
      actions: {
        items: [
          {
            href: "/cases/" + data.caseReference + "/client-details/change/third-party",
            text: t('common.change'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.changeThirdPartyContact')
          },
          {
            href: "/cases/" + data.caseReference + "/confirm/remove-third-party/",
            text: t('common.remove'),
            visuallyHiddenText: t('accessibility.visuallyHiddenText.removeThirdPartyContact')
          }
        ]
      }
    },
    rows: [
      {
        label: t('forms.clientDetails.thirdParty.name'),
        key: "fullNameThirdParty"
      },
      {
        label: t('forms.clientDetails.thirdParty.phoneNumber'),
        key: "computedPhoneNumberThirdParty",
        html: true
      },
      {
        label: t('forms.clientDetails.thirdParty.emailAddress'),
        key: "emailAddressThirdParty"
      },
      {
        label: t('forms.clientDetails.thirdParty.address'),
        key: "computedAddressThirdParty",
        html: true
      },
      {
        label: t('forms.clientDetails.thirdParty.relationshipToClient.title'),
        key: "relationshipToClientThirdParty"
      },
      {
        label: t('forms.clientDetails.thirdParty.passphrase.title'),
        key: "passphraseContent",
        html: true
      }
    ]
  }) }}
{% else %}
  <div class="govuk-width-container">
    {{ govukButton({
      href: "/cases/" + data.caseReference + "/client-details/add/third-party",
      text: t('pages.caseDetails.buttons.addThirdPartyContact'),
      classes: "govuk-button--secondary"
    }) }}
  </div>
{% endif %}