{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/financialEligibilityAlert.njk" import financialEligibilityAlert %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set detailsHtml %}
  {% include "case_details/financial-eligibility-partial-tabs/_financial-eligibility-partial-details-tab.njk" %}
{% endset -%}

{% set financesHtml %}
  {% include "case_details/financial-eligibility-partial-tabs/_financial-eligibility-partial-finances-tab.njk" %}
{% endset -%}

{% set incomeHtml %}
  {% include "case_details/financial-eligibility-partial-tabs/_financial-eligibility-partial-income-tab.njk" %}
{% endset -%}

{% set expensesHtml %}
  {% include "case_details/financial-eligibility-partial-tabs/_financial-eligibility-partial-expenses-tab.njk" %}
{% endset -%}

{% set tabs = [
  {
    label: "Details",
    id: "details",
    panel: { html: detailsHtml }
  },
  {
    label: "Finances",
    id: "finances",
    panel: { html: financesHtml }
  },
  {
    label: "Income",
    id: "income",
    panel: { html: incomeHtml }
  },
  {
    label: "Expenses",
    id: "expenses",
    panel: { html: expensesHtml }
  }
] %}

{% if financialEligibility.under18passportedBenefits %}
  {% set tabs = tabs.slice(0, 1) %}
{% elseif financialEligibility.passportedBenefits %}
  {% set tabs = tabs.slice(0, 2) %}
{% endif %}

{# The computed display after all the set-up above #}
<h2 class="govuk-heading-m">{{ t('pages.caseDetails.tabs.financialEligibility') }}</h2>
<div class="financial-eligibility-alert">
  {{ financialEligibilityAlert(financialEligibility.state) }}
</div>

{% if financialEligibility.hasPassportedProceedingsLetter %}

  {% call govukInsetText() %}
    <strong>{{ t('common.financialEligibility.message.noMeansTestTitle') }}</strong><br>
    {{ t('common.financialEligibility.message.noMeansTestBody') }}
  {% endcall %}

{% else %}
  {% if financialEligibility.under18passportedBenefits %}

    {% call govukInsetText() %}
      <strong>{{ t('common.financialEligibility.message.fullTestNotRequiredTitle') }}</strong><br>
      {{ t('common.financialEligibility.message.fullTestNotRequiredBody') }}
    {% endcall %}

  {% elseif financialEligibility.passportedBenefits %}

    {% call govukInsetText() %}
      <strong>{{ t('common.financialEligibility.message.incomeAssessmentNotRequiredTitle') }}</strong><br>
      {{ t('common.financialEligibility.message.incomeAssessmentNotRequiredBody') }}
    {% endcall %}

  {% endif %}

  {{ govukTabs({
    id: "financial-eligibility-tabs",
    items: tabs
  }) }}
{% endif %}