{% from "components/summaryCardComponent.njk" import summaryCardComponent %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "components/financialEligibilityAlert.njk" import financialEligibilityAlert %}

{% set editAssessmentButtonHtml %}
  {{
      govukButton({
        text: "Edit assessment",
        classes: "govuk-button--secondary",
        href: "/cases/" + caseReference + "/financial-eligibility/change"
      })
    }}
{% endset %}

{% set detailsHtml %}

  {% set under17Text = "Yes" if financialEligibility.isUnder17 else "No" %}
  {% set under18RegularPayment = "Yes" if financialEligibility.under18RegularPayment else "No" %}
  {% set under18HasValuables = "Yes" if financialEligibility.under18HasValuables else "No" %}
  {% set partnerText = "Yes" if financialEligibility.hasPartner else "No" %}
  {% set over60Text = "Yes" if financialEligibility.isOver60 else "No"%}
  {% set universalCredit = "Yes" if financialEligibility.specificBenefits.universalCredit else "No"%}
  {% set pensionCredit = "Yes" if financialEligibility.specificBenefits.pensionCredit else "No"%}
  {% set jobSeekers = "Yes" if financialEligibility.specificBenefits.jobSeekers else "No"%}
  {% set employmentSupport = "Yes" if financialEligibility.specificBenefits.employmentSupport else "No"%}
  {% set incomeSupport = "Yes" if financialEligibility.specificBenefits.incomeSupport else "No"%}

  {% set rows = [
    [
      {
        text: t("common.financialEligibility.details.age17OrUnder")
      }, {
        text: under17Text
      }
    ],
    [
      {
        text: t("common.financialEligibility.details.under18RegularPayment")
      }, {
        text: under18RegularPayment
      }
    ],
    [
      {
        text: t("common.financialEligibility.details.under18HasValuables")
      }, {
        text: under18HasValuables
      }
    ],
    [
      {
        text: t("common.financialEligibility.details.hasPartner")
      }, {
        text: partnerText
      }
    ],
    [
      {
        text: t("common.financialEligibility.details.age60OrOver")
      }, {
        text: over60Text
      }
    ]
  ] %}

  {{ govukTable({
      caption: "About you",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      classes: "eligibility-table",
      rows: rows
    }) }}

  {{ govukTable({
      caption: "Benefits",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      classes: "eligibility-table",
      rows: [
        [
          {
            text: t("common.financialEligibility.details.universalCredit")
          },
          {
            text: universalCredit
          }
        ],
        [
          {
            text: t("common.financialEligibility.details.incomeSupport")
          },
          {
            text: incomeSupport
          }
        ],
        [
          {
            text: t("common.financialEligibility.details.incomeBasedJSA")
          },
          {
            text: jobSeekers
          }
        ],
        [
          {
            text: t("common.financialEligibility.details.pensionCredit")
          },
          {
            text: pensionCredit
          }
        ],
        [
          {
            text: t("common.financialEligibility.details.employmentSupport")
          },
          {
            text: employmentSupport
          }
        ]
      ]
    }) }}

  <div>{{ editAssessmentButtonHtml | safe }}</div>
{% endset -%}

{% set financesHtml %}

  <h2 class="govuk-heading-m">Properties</h2>
  {% if financialEligibility.propertySet and financialEligibility.propertySet.length %}
    {% for property in financialEligibility.propertySet %}
      {# Loop function will only work up to 22nd property - it is assumed if a client has 22 properties they are likely ineligible for support #}
      <h3 class="govuk-heading-s">
        {% if loop.index == 1 %}
          1st property
        {% elseif loop.index == 2 %}
          2nd property
        {% elseif loop.index == 3 %}
          3rd property
        {% else %}
          {{ loop.index }}th property
        {% endif %}
      </h3>

      {{ govukTable({
        firstCellIsHeader: true,
        classes: "eligibility-table",
        rows: [
          [
            { text: t("common.financialEligibility.finances.propertyValue") },
            { text: (property.value | formatFinancialData) }
          ],
          [
            { text: t("common.financialEligibility.finances.mortgageLeft") },
            { text: (property.mortgageLeft | formatFinancialData) }
          ],
          [
            { text: t("common.financialEligibility.finances.mainProperty") },
            { text: "Yes" if property.main else "No" }
          ],
          [
            { text: t("common.financialEligibility.finances.propertyShare") },
            { text: property.share + "%" }
          ],
          [
            { text: t("common.financialEligibility.finances.disputedProperty")}, 
            { text: "Yes" if property.disputed else "No" }
          ]
        ]
      }) }}
    {% endfor %}
  {% else %}
    <p class="govuk-body">No property data</p>
  {% endif %}

  <h2 class="govuk-heading-m">Your savings</h2>
  {% set savings = financialEligibility.clientData.savings %}

  {{ govukTable({
      firstCellIsHeader: true,
      classes: "eligibility-table",
      rows: [
        [
          {
            text: t("common.financialEligibility.finances.savingsBalance")
          },
          {
            text: (savings.bankBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.investmentBalance")
          },
          {
            text: (savings.investmentBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.assetBalance")
          },
          {
            text: (savings.assetBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.creditBalance")
          },
          {
            text: (savings.creditBalance | formatFinancialData)
          }
        ]
      ]
    }) }}

  {% if financialEligibility.hasPartner %}
    <h2 class="govuk-heading-m">Your partners savings</h2>

    {% set partnerSavings = financialEligibility.partnerData.partnerSavings %}

    {{ govukTable({
     firstCellIsHeader: true,
      classes: "eligibility-table",
      rows: [
        [
          {
            text: t("common.financialEligibility.finances.partnerSavingsBalance")
          },
          {
            text: (partnerSavings.bankBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.partnerInvestmentBalance")
          },
          {
            text: (partnerSavings.investmentBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.partnerAssetBalance")
          },
          {
            text:(partnerSavings.assetBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.partnerCreditBalance")
          },
          {
            text: (partnerSavings.creditBalance | formatFinancialData)
          }
        ]
      ]
    }) }}
  {% endif %}

  {% if financialEligibility.disputedSavings %}
    <h2 class="govuk-heading-m">Your disputed savings</h2>

    {% set disputedSavings = financialEligibility.disputedSavings %}

    {{ govukTable({
     firstCellIsHeader: true,
      classes: "eligibility-table",
      rows: [
        [
          {
            text: t("common.financialEligibility.finances.savingsBalance")
          },
          {
            text: (disputedSavings.bankBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.investmentBalance")
          },
          {
            text: (disputedSavings.investmentBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.assetBalance")
          },
          {
            text:(disputedSavings.assetBalance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.finances.creditBalance")
          },
          {
            text: (disputedSavings.creditBalance | formatFinancialData)
          }
        ]
      ]
    }) }}
  {% endif %}

  <h2 class="govuk-heading-m">Disregards</h2>
  {% if financialEligibility.disregards and financialEligibility.disregards.length > 0 %}
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        {% for disregard in financialEligibility.disregards %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ disregard }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> {{t("common.notProvided")}} </p>
  {% endif %}

  <div>{{ editAssessmentButtonHtml | safe }}</div>
{% endset -%}

{% set income = financialEligibility.clientData.income %}
{% set deductions = financialEligibility.clientData.deductions %}

{% set incomeHtml %}
  {{ govukTable({
      caption: "Your income",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      classes: "eligibility-table",
      rows: [
        [
          {
            text: t("common.financialEligibility.income.selfEmployed")
          },
          {
            text: "Yes" if income.selfEmployed else "No"
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.earnings")
          },
          {
            text: (income.earnings | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.tax")
          },
          {
            text: (deductions.incomeTax | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.nationalInsurance")
          },
          {
            text: (deductions.nationalInsurance | formatFinancialData)
          }
        ],
        [
          {
            text:t("common.financialEligibility.income.selfEmployedDrawings")
          },
          {
            text: (income.selfEmploymentDrawings | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.benefits")
          },
          {
            text: (income.benefits | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.taxCredits")
          },
          {
            text: (income.taxCredits | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.childBenefit")
          },
          {
            text: (income.childBenefit | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.maintenanceReceived")
          },
          {
            text: (income.maintenanceReceived | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.pension")
          },
          {
            text: (income.pension | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.otherIncome")
          },
          {
            text: (income.otherIncome | formatFinancialData)
          }
        ]
      ]
    }) }}

  {% set partnerIncome = financialEligibility.partnerData.partnerIncome %}
  {% set partnerDeductions = financialEligibility.partnerData.partnerDeductions %}

  {% if financialEligibility.hasPartner %}
    {{ govukTable({
      caption: "Partner's income",
      captionClasses: "govuk-table__caption--m",
      classes: "eligibility-table",
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: t("common.financialEligibility.income.partnerSelfEmployed")
          },
          {
            text: "Yes" if partnerIncome.selfEmployed else "No"
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.partnerEarnings")
          },
          {
            text: (partnerIncome.earnings | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.partnerTax")
          },
          {
            text: (partnerDeductions.incomeTax | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.partnerNationalInsurance")
          },
          {
            text: (partnerDeductions.nationalInsurance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.selfEmployedDrawings")
          },
          {
            text: (partnerIncome.selfEmploymentDrawings | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.benefits")
          },
          {
            text: (partnerIncome.benefits | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.taxCredits")
          },
          {
            text: (partnerIncome.taxCredits | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.maintenanceReceived")
          },
          {
            text: (partnerIncome.maintenanceReceived | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.pension")
          },
          {
            text: (partnerIncome.pension | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.income.otherIncome")
          },
          {
            text: (partnerIncome.otherIncome | formatFinancialData)
          }
        ]
      ]
    }) }}

  {% endif %}

  {{ govukTable({
    caption: "Dependants",
    classes: "eligibility-table",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    rows: [
      [
        {
          text: t("common.financialEligibility.income.dependantsOld")
        },
        {
          text: financialEligibility.dependantsOld
        }
      ],
      [
        {
          text: t("common.financialEligibility.income.dependantsYoung")
        },
        {
          text: financialEligibility.dependantsYoung
        }
      ]
    ]
  }) }}

  <div>{{ editAssessmentButtonHtml | safe }}</div>
{% endset -%}

{% set expensesHtml %}
  {{ govukTable({
    caption: "Your expenses",
    classes: "eligibility-table",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    rows: [
      [
        {
          text: t("common.financialEligibility.expenses.mortgageCost")
        },
        {
          text: (deductions.mortgage | formatFinancialData)
        }
      ],
      [
        {
          text: t("common.financialEligibility.expenses.rentCost")
        },
        {
          text: (deductions.rent | formatFinancialData)
        }
      ],
      [
        {
          text: t("common.financialEligibility.expenses.maintenanceCost")
        },
        {
          text: (deductions.maintenance | formatFinancialData)
        }
      ],
      [
        {
          text: t("common.financialEligibility.expenses.childCareCost")
        },
        {
          text: (deductions.childcare | formatFinancialData)
        }
      ],
      [
        {
          text: t("common.financialEligibility.expenses.legalAidCost")
        },
        {
          text: (deductions.criminalContributions | formatFinancialData)
        }
      ]
    ]
  }) }}

  {% if financialEligibility.hasPartner %}
    {{ govukTable({
      caption: "Your partner's expenses",
      classes: "eligibility-table",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: t("common.financialEligibility.expenses.partnerMortgageCost")
          },
          {
            text: (partnerDeductions.mortgage | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.expenses.partnerRentCost")
          },
          {
            text: (partnerDeductions.rent | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.expenses.partnerMaintenanceCost")
          },
          {
            text: (partnerDeductions.maintenance | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.expenses.partnerChildCareCost")
          },
          {
            text: (partnerDeductions.childcare | formatFinancialData)
          }
        ],
        [
          {
            text: t("common.financialEligibility.expenses.partnerLegalAidCost")
          },
          {
            text: (partnerDeductions.criminalContributions | formatFinancialData)
          }
        ]
      ]
    }) }}
  {% endif %}
  <div>{{ editAssessmentButtonHtml | safe }}</div>
{% endset -%}

<h2 class="govuk-heading-m">{{ t('pages.caseDetails.tabs.financialEligibility') }}</h2>
<div class="financial-eligibility-alert">
{{ financialEligibilityAlert(financialEligibility.state) }}
</div>

{{ govukTabs({
    id: "financial-eligibility-tabs",
    items: [
      {
        label: "Details",
        id: "details",
        panel: {
            html: detailsHtml
        }
      },
      {
        label: "Finances",
        id: "finances",
        panel: {
            html: financesHtml
        }
      },
      {
        label: "Income",
        id: "income",
        panel: {
            html: incomeHtml
        }
      },
      {
        label: "Expenses",
        id: "expenses",
        panel: {
             html: expensesHtml
        }
      }
    ]
}) }}