{% from "govuk/components/button/macro.njk" import govukButton %}

<p> Show the existing financial eligibility for this case from `cla_backend`</p>
<p> Sections of different tables of each field and a corresponding change link</p>

{{ govukButton({
  text: "Edit assessment",
  href: "/cases/" + caseReference + "/financial-eligibility/change"
}) }}