{% from "moj/components/timeline/macro.njk" import mojTimeline %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

<h2 class="govuk-heading-m">{{ t('pages.caseDetails.tabs.history') }}</h2>

{% set items = [] %}

{% for log in history %}
  {% set outcomeDescription = t('common.outcomeCode.' + log.code) if log.code else '' %}
  {% set items = (items.push({
    label: {
      text: outcomeDescription
    },
    text: (log.notes if log.code != "MT_CHANGED" and log.code != "MT_CREATED"),
    datetime: {
      timestamp: log.created,
      type: "datetime"
    },
    byline: {
      text: log.createdBy
    }
  }), items) %}
{% endfor %}

{{ mojTimeline({
  items: items
}) }}


{# Render pagination if available #}
{% if pagination and pagination.totalPages > 1 %}
  {{ govukPagination({
    previous: pagination.previous,
    next: pagination.next,
    items: pagination.items
  }) }}
{% endif %}