{% extends "case_details/_base-case-change.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {% if errorState.hasErrors %}{{ t('common.error') }}: {% endif %}{{ t('pages.caseDetails.aboutNewCase.pageTitle', { caseReference: caseReference, serviceName: config.SERVICE_NAME }) }}
{% endblock %}

{% block backLink %}
  {# No back link for this page #}
{% endblock %}
{% block formContent %}
 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-4"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorState.hasErrors %}
        {{ govukErrorSummary({
          titleText: t('common.errorSummaryTitle'),
          errorList: errorState.errors
        }) }}
      {% endif %}

      <form method="POST" action="/cases/{{ caseReference }}/split-this-case">

        <!-- CSRF Protection -->
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <h2 class="govuk-heading-m">{{ t('pages.caseDetails.aboutNewCase.h2') }}</h2>

        <p class="govuk-body">{{ t('pages.caseDetails.aboutNewCase.originalCaseInfo') }} {{ 'Debt, housing and family matters'}}</p>

        <h3 class="govuk-heading-s">{{ t('pages.caseDetails.aboutNewCase.h3') }}</h3>

        <p class="govuk-body">{{ t('pages.caseDetails.aboutNewCase.newCaseInfo') }} {{ 'Debt, housing and family matters'}}</p>

        {% call govukFieldset({
          legend: {
            text: t('pages.caseDetails.aboutNewCase.legend'),
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false
          }
        }) %}

        {{ govukCharacterCount({
            id: "comment",
            name: "comment",
            value: formData.comment,
            rows: 8,
            errorMessage: errorState.fieldErrors.comment if errorState.fieldErrors.comment,
            maxlength: maxCommentLength,
            threshold: characterThreshold
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: t('common.continue')
          }) }}
          <a class="govuk-link" href="/cases/{{ caseReference }}/client-details">{{ t('common.cancel') }}</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
