{% extends "case_details/_base-case-change.njk" %}
{% from "components/confirmationComponent.njk" import confirmationComponent %}
{% from "components/alertBannerComponent.njk" import alertBannerComponent %}

{% block pageTitle %}{{ t('pages.caseDetails.removeClientSupportNeeds.pageTitle', { serviceName: config.SERVICE_NAME }) }}
{% endblock %}

{# Although no errors would be shown on this page, adding as this will help with formatting #}
{% block errorSummaryOrAlert %}
  {% if error %}
    {{ errorSummary(error.errorSummaryList) }}
  {% else %}
    {{ alertBannerComponent(client) }}
  {% endif %}
{% endblock %}

{% block formContent %}
  {{ confirmationComponent({
    heading: t('pages.caseDetails.removeClientSupportNeeds.heading'),
    description: t('pages.caseDetails.removeClientSupportNeeds.description'),
    confirmAction: {
      text: t('pages.caseDetails.removeThirdParty.confirmButton'),
      formAction: "/cases/" + caseReference + "/confirm/remove-support-need"
    },
    cancelAction: {
      text: t('pages.caseDetails.removeThirdParty.cancelButton'),
      href: "/cases/" + caseReference + "/client-details"
    },
    csrfToken: csrfToken
  }) }}
{% endblock %}