{% extends "base.njk" %}
{% from "components/confirmationComponent.njk" import confirmationComponent %}

{% block pageTitle %}{{ t('pages.caseDetails.removeThirdParty.pageTitle', { serviceName: config.SERVICE_NAME }) }}
{% endblock %}

{% block pageContent %}
  {{ confirmationComponent({
    heading: t('pages.caseDetails.removeThirdParty.heading'),
    description: t('pages.caseDetails.removeThirdParty.description'),
    confirmAction: {
      text: t('pages.caseDetails.removeThirdParty.confirmButton'),
      formAction: "/cases/" + caseReference + "/confirm/remove-third-party"
    },
    cancelAction: {
      text: t('pages.caseDetails.removeThirdParty.cancelButton'),
      href: "/cases/" + caseReference + "/client-details"
    },
    csrfToken: csrfToken
  }) }}
{% endblock %}