{% extends "case_details/_base-case-change.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "components/alertBannerComponent.njk" import alertBannerComponent %}

{% block pageTitle %}
  {% if errorState.hasErrors %}{{ t('common.error') }}: {% endif %}{{ t('pages.caseDetails.doYouWantToGiveFeedback.pageTitle', { caseReference: caseReference, serviceName: config.SERVICE_NAME }) }}
{% endblock %}

{% block backLink %}
  {# No back link for this page #}
{% endblock %}

{% block errorSummaryOrAlert %}
  {% if errorState.hasErrors %}
    {{ errorSummary(errorState.errors, t('common.errorSummaryTitle')) }}
  {% else %}
    {{ alertBannerComponent(client) }}
  {% endif %}
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/cases/{{ caseReference }}/do-you-want-to-give-feedback">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukRadios({
          id: "doYouWantToGiveFeedback",
          name: "doYouWantToGiveFeedback",
          errorMessage: errorState.fieldErrors.doYouWantToGiveFeedback if errorState.fieldErrors.doYouWantToGiveFeedback,
          fieldset: {
            legend: {
              text: t('pages.caseDetails.doYouWantToGiveFeedback.legend'),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: t('common.yes')
            },
            {
              value: "false",
              text: t('common.no')
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: t('common.continue')
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock  formContent%}