{% extends "base.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set backLinkHref = "/cases/" + caseReference + "/client-details" %}

{% block backLink %}
  {{ govukBackLink({
      text: "Back",
      href: backLinkHref,
      classes: "govuk-!-margin-bottom-0"
    }) }}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ errorSummary(error.errorSummaryList) }}
        {% set safeToCallErrorMessage = { text: error.inputErrors.safeToCall } if error.inputErrors.safeToCall %}
        {% set phoneNumberErrorMessage = { text: error.inputErrors.phoneNumber } if error.inputErrors.phoneNumber %}
      {% endif %}
      <form method="post" action="/cases/{{ caseReference }}/client-details/change/phone-number">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="existingSafeToCall" value="{{ existingSafeToCall | default(currentSafeToCall) }}">
        <input type="hidden" name="existingPhoneNumber" value="{{ existingPhoneNumber | default(currentPhoneNumber) }}">
        <input type="hidden" name="existingAnnounceCall" value="{{ existingAnnounceCall | default(currentAnnounceCall) }}">
        {{ govukInput({
          label: {
            text: "Client phone number",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          errorMessage: phoneNumberErrorMessage,
          id: "phoneNumber",
          name: "phoneNumber",
          type: "tel",
          autocomplete: "off",
          classes: "govuk-input--width-20",
          value: currentPhoneNumber
        }) }}
        {{ govukRadios({
          name: "safeToCall",
          value: currentSafeToCall,
          errorMessage: safeToCallErrorMessage,
          fieldset: {
            legend: {
              text: "Is the client safe to call?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes"
            },
            {
              value: "false",
              text: "No"
            }
          ]
        }) }}
        {{ govukRadios({
          name: "announceCall",
          value: currentAnnounceCall,
          errorMessage: announceCallErrorMessage,
          fieldset: {
            legend: {
              text: "Can we say we're calling from Civil Legal Advice?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes"
            },
            {
              value: "false",
              text: "No"
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save"
          }) }}
          <a class="govuk-link" href="{{ backLinkHref }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}