{% extends "case_details/_base-case-change.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "components/alertBannerComponent.njk" import alertBannerComponent %}

{% block pageTitle %}{{ t('forms.clientDetails.nationalInsuranceNumber.pageTitle', { caseReference: caseReference, serviceName: config.SERVICE_NAME }) }}{% endblock %}

{% block errorSummaryOrAlert %}
  {% if error %}
    {{ errorSummary(error.errorSummaryList) }}
  {% else %}
    {{ alertBannerComponent(client) }}
  {% endif %}
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {% set nationalInsuranceNumberErrorMessage = { text: error.inputErrors.nationalInsuranceNumber } if error.inputErrors.nationalInsuranceNumber %}
      {% endif %}
      <form method="post" action="/cases/{{ caseReference }}/client-details/change/national-insurance-number" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="existingNationalInsuranceNumber" value="{{ existingNationalInsuranceNumber }}">
        {{ govukInput({
          label: {
            text: t('forms.clientDetails.nationalInsuranceNumber.title'),
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: t('forms.clientDetails.nationalInsuranceNumber.hint')
          },
          id: "nationalInsuranceNumber",
          name: "nationalInsuranceNumber",
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          maxlength: 13,
          spellcheck: false,
          value: currentNationalInsuranceNumber,
          errorMessage: nationalInsuranceNumberErrorMessage
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: t('common.save')
          }) }}
          <a class="govuk-link" href="{{ backLinkHref }}">{{ t('common.cancel') }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock formContent %}