{% extends "case_details/_base-case-change.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}{{ t('forms.clientDetails.phoneNumber.pageTitle', { caseReference: caseReference, serviceName: config.SERVICE_NAME }) }}{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ errorSummary(error.errorSummaryList) }}
        {% set safeToCallErrorMessage = { text: error.inputErrors.safeToCall } if error.inputErrors.safeToCall %}
        {% set phoneNumberErrorMessage = { text: error.inputErrors.phoneNumber } if error.inputErrors.phoneNumber %}
        {% set announceCallErrorMessage = { text: error.inputErrors.announceCall } if error.inputErrors.announceCall %}
      {% endif %}
      <form method="post" action="/cases/{{ caseReference }}/client-details/change/phone-number">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="existingSafeToCall" value="{{ existingSafeToCall }}">
        <input type="hidden" name="existingPhoneNumber" value="{{ existingPhoneNumber }}">
        <input type="hidden" name="existingAnnounceCall" value="{{ existingAnnounceCall }}">
        {{ govukInput({
          label: {
            text: t('forms.clientDetails.phoneNumber.title'),
            classes: "govuk-label--l",
            isPageHeading: true
          },
          errorMessage: phoneNumberErrorMessage,
          id: "phoneNumber",
          name: "phoneNumber",
          type: "tel",
          autocomplete: "off",
          classes: "govuk-input--width-20",
          value: currentPhoneNumber
        }) }}
        {{ govukRadios({
          name: "safeToCall",
          value: 'true' if (currentSafeToCall == true) else 'false',
          errorMessage: safeToCallErrorMessage,
          fieldset: {
            legend: {
              text: t('forms.clientDetails.phoneNumber.safeToCall'),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: t('common.yes')
            },
            {
              value: "false",
              text: t('common.no')
            }
          ]
        }) }}
        {{ govukRadios({
          name: "announceCall",
          value: 'true' if (currentAnnounceCall == true) else 'false',
          errorMessage: announceCallErrorMessage,
          fieldset: {
            legend: {
              text: t('forms.clientDetails.phoneNumber.announceCall'),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: t('common.yes')
            },
            {
              value: "false",
              text: t('common.no')
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: t('common.save')
          }) }}
          <a class="govuk-link" href="{{ backLinkHref }}">{{ t('common.cancel') }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock formContent %}