{% extends "case_details/_base-case-change.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}

{% block pageTitle %}{{ t('forms.clientDetails.email.pageTitle', { caseReference: caseReference, serviceName: config.SERVICE_NAME }) }}{% endblock %}

{% block errorSummary %}
  {% if error %}
    {{ errorSummary(error.errorSummaryList) }}
  {% endif %}
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {% set emailAddressErrorMessage = { text: error.inputErrors.emailAddress } if error.inputErrors.emailAddress %}
      {% endif %}
      <form method="post" action="/cases/{{ caseReference }}/client-details/change/email-address" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="existingEmailAddress" value="{{ existingEmailAddress }}">
        {{ govukInput({
          label: {
            text: t('forms.clientDetails.email.title'),
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "emailAddress",
          name: "emailAddress",
          spellcheck: false,
          value: currentEmailAddress,
          errorMessage: emailAddressErrorMessage
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: t('common.save')
          }) }}
          <a class="govuk-link" href="{{ backLinkHref }}">{{ t('common.cancel') }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock formContent %}