{% extends "base.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}


{% set backLinkHref = "/cases/" + caseReference + "/client-details" %}

{% block backLink %}
  {{ govukBackLink({
      text: "Back",
      href: backLinkHref,
      classes: "govuk-!-margin-bottom-0"
    }) }}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {% set fullNameErrorMessage = { text: error.inputErrors.fullName } %}
        {{ errorSummary(error.errorSummaryList) }}
      {% endif %}
      <form method="post" action="/cases/{{ caseReference }}/client-details/change/name">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="existingFullName" value="{{ existingFullName | default(currentName) }}">
        {{ govukInput({
          label: {
            text: "Client name",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "fullName",
          name: "fullName",
          value: currentName,
          errorMessage: fullNameErrorMessage
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save"
          }) }}
          <a class="govuk-link" href="{{ backLinkHref }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}