{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/tabComponent.njk" import tabComponent %}

{% block backLink %}
  {{ govukBackLink({
    text: t.common.backToAllCases,
    href: "/cases/" + (client.caseStatus | lower),
    classes: "govuk-!-margin-bottom-0"
  }) }}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-caption-xl">{{ client.caseReference }}</h1>
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" id="page-heading">{{ client.fullName }}</h1>

  {% include "case_details/_case-info-partial.njk" %}

  {{ tabComponent({
    activeTab: activeTab,
    containerId: "cases-tab-container",
    data: client,
    tabs: [
      {
        id: "client_details",
        text: t.pages.caseDetails.tabs.clientDetails,
        href: "/cases/" + caseReference + "/client-details",
        partial: "case_details/_client-details-partial.njk"
      },
      {
        id: "scope",
        text: t.pages.caseDetails.tabs.scope,
        href: "/cases/" + caseReference + "/scope"
      },
      {
        id: "financial_eligibility",
        text: t.pages.caseDetails.tabs.financialEligibility,
        href: "/cases/" + caseReference + "/financial-eligibility"
      },
      {
        id: "notes_and_history",
        text: t.pages.caseDetails.tabs.notesAndHistory,
        href:"/cases/" + caseReference + "/notes-and-history"
      }
    ]
  }) }}
{% endblock %}