{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/tabComponent.njk" import tabComponent %}
{% from "components/caseDetailsHeaderComponent.njk" import caseDetailsHeaderComponent %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% block backLink %}
  {{ govukBackLink({
    text: t('common.backToAllCases'),
    href: "/cases/" + client.caseStatus,
    classes: "govuk-!-margin-bottom-2"
  }) }}
{% endblock %}

{% block alerts %}
  {# Container for real-time viewer alert - populated by Socket.IO client #}
  <div id="case-viewer-alert" class="govuk-!-margin-bottom-4" hidden>
    {# Template for single viewer alert #}
    <div id="viewer-alert-single" hidden>
      {{ mojAlert({
        variant: "warning",
        text: "1 other user is currently viewing this case",
        dismissible: false
      }) }}
    </div>

    {# Template for multiple viewers alert - text will be updated by JS #}
    <div id="viewer-alert-multiple" hidden>
      {{ mojAlert({
        variant: "warning",
        text: "X other users are currently viewing this case",
        dismissible: false
      }) }}
    </div>
  </div>

  {# Hidden data attributes for Socket.IO client #}
  <div data-case-reference="{{ caseReference }}" data-session-id="{{ sessionID }}" hidden></div>
{% endblock %}

{% block pageContent %}
  {{ caseDetailsHeaderComponent(client) }}
  {{ tabComponent({
    activeTab: activeTab,
    containerId: "cases-tab-container",
    data: client,
    history: history,
    pagination: pagination,
    timelineItems: timelineItems,
    csrfToken: csrfToken,
    maxProviderNoteLength: maxProviderNoteLength,
    characterThreshold: characterThreshold,
    currentProviderNote: currentProviderNote,
    caseReference: caseReference,
    error: error,
    tabs: [
      {
        id: "client_details",
        text: t('pages.caseDetails.tabs.clientDetails'),
        href: "/cases/" + caseReference + "/client-details",
        partial: "case_details/_client-details-partial.njk"
      },
      {
        id: "case_details",
        text: t('pages.caseDetails.tabs.caseDetails'),
        href: "/cases/" + caseReference + "/case-details",
        partial: "case_details/_case-details-partial.njk"
      },
      {
        id: "financial_eligibility",
        text: t('pages.caseDetails.tabs.financialEligibility'),
        href: "/cases/" + caseReference + "/financial-eligibility"
      },
      {
        id: "history",
        text: t('pages.caseDetails.tabs.history'),
        href:"/cases/" + caseReference + "/history",
        partial: "case_details/_history-partial.njk"
      }
    ]
  }) }}
{% endblock %}