{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/tabComponent.njk" import tabComponent %}
{% from "components/caseDetailsHeaderComponent.njk" import caseDetailsHeaderComponent %}
{% from "components/errorSummaryComponent.njk" import errorSummary %}
{% from "components/alertBannerComponent.njk" import alertBannerComponent %}

{% block backLink %}
  {{ govukBackLink({
    text: t('common.backToAllCases'),
    href: "/cases/" + client.caseStatus,
    classes: "govuk-!-margin-bottom-2"
  }) }}
{% endblock %}

{% set tabMap = {
  "client_details": "pages.caseDetails.tabs.clientDetails",
  "case_details": "pages.caseDetails.tabs.caseDetails",
  "financial_eligibility": "pages.caseDetails.tabs.financialEligibility",
  "history": "pages.caseDetails.tabs.history"
} %}

{% block pageTitle %}
  {{ t(tabMap[activeTab]) }} - {{ config.SERVICE_NAME }} – GOV.UK
{% endblock %}

{% block errorSummaryOrAlert %}
  {% if error %}
    {{ errorSummary(error.errorSummaryList) }}
  {% else %}
    {{ alertBannerComponent(client) }}
  {% endif %}
{% endblock %}

{% block pageContent %}
  {{ caseDetailsHeaderComponent(client) }}
  
  {{ tabComponent({
    activeTab: activeTab,
    containerId: "cases-tab-container",
    data: client,
    history: history,
    pagination: pagination,
    timelineItems: timelineItems,
    csrfToken: csrfToken,
    maxProviderNoteLength: maxProviderNoteLength,
    characterThreshold: characterThreshold,
    currentProviderNote: currentProviderNote,
    caseReference: caseReference,
    error: error,
    tabs: [
      {
        id: "client_details",
        text: t('pages.caseDetails.tabs.clientDetails'),
        href: "/cases/" + caseReference + "/client-details",
        partial: "case_details/_client-details-partial.njk"
      },
      {
        id: "case_details",
        text: t('pages.caseDetails.tabs.caseDetails'),
        href: "/cases/" + caseReference + "/case-details",
        partial: "case_details/_case-details-partial.njk"
      },
      {
        id: "financial_eligibility",
        text: t('pages.caseDetails.tabs.financialEligibility'),
        href: "/cases/" + caseReference + "/financial-eligibility"
      },
      {
        id: "history",
        text: t('pages.caseDetails.tabs.history'),
        href:"/cases/" + caseReference + "/history",
        partial: "case_details/_history-partial.njk"
      }
    ]
  }) }}
{% endblock %}