<div id="feedback" class="js-required" tabindex="-1">
  <div class="gem-c-feedback__prompt govuk-!-display-none-print" data-feedback-section="initial">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="gem-c-feedback__prompt-question-answer" role="form">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-right-6">
              {{ t('forms.feedback.satisfiedQuestion') }}
            </h2>
            <form data-feedback-role="satisfaction-form">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              <div class="gem-c-feedback__prompt-button-group">
                {{ govukButton({
                  text: t('common.yes'),
                  type: "button",
                  attributes: {"data-feedback-role": "initial-trigger-yes"},
                  classes: "govuk-button gem-c-feedback__prompt-link-small-button"
                }) }}

                {{ govukButton({
                  text:  t('common.no'),
                  type: "button",
                  attributes: {"data-feedback-role": "initial-trigger-no"},
                  classes: "govuk-button gem-c-feedback__prompt-link-small-button"
                }) }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gem-c-feedback__prompt" data-feedback-section="messageYes">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form data-feedback-role="comment-form">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukTextarea({
              name: "satisfactionComment",
              id: "satisfactionComment",
              label: { 
                text: t('forms.feedback.messageYesTitle'),
                classes: "govuk-label--s",
                isPageHeading: false
              },
              hint: {
                text: t('forms.feedback.messageYesHint')
              },
              attributes: { "data-feedback-role": "text-input"},
              rows: 4
            }) }}

            <div class="govuk-button-group">
              {{ govukButton({
                text: t('forms.feedback.sendFeedbackButton'),
                type: "button",
                attributes: {"data-feedback-role": "submit-text", "data-feedback-section-if-blank": "final"}
              }) }}

              {{ govukButton({
                text: t('common.cancel'),
                type: "button",
                attributes: {"data-feedback-role": "cancel"},
                classes: "govuk-button--secondary gem-c-feedback__close"
              }) }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="gem-c-feedback__prompt" data-feedback-section="messageNo">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form data-feedback-role="comment-form">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukTextarea({
              name: "satisfactionComment",
              id: "satisfactionComment",
              label: { 
                text: t('forms.feedback.messageNoTitle'),
                classes: "govuk-label--s",
                isPageHeading: false
              },
              hint: {
                text: t('forms.feedback.messageNoHint')
              },
              attributes: { "data-feedback-role": "text-input"},
              rows: 4
            }) }}

            <div class="govuk-button-group">
              {{ govukButton({
                text: t('forms.feedback.sendFeedbackButton'),
                type: "button",
                attributes: {"data-feedback-role": "submit-text", "data-feedback-section-if-blank": "final"}
              }) }}

              {{ govukButton({
                text: t('common.cancel'),
                type: "button",
                attributes: {"data-feedback-role": "cancel"},
                classes: "govuk-button--secondary gem-c-feedback__close"
              }) }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="gem-c-feedback__prompt" data-feedback-section="final">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="gem-c-feedback__prompt-question-answer">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-3 govuk-!-margin-right-2" data-feedback-role="final-message">
              {{ t('forms.feedback.thankYouMessage') }}
            </h2>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>