{% extends "base.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageContent%}

<body>
  <h1 id="cookies-heading" class="govuk-heading-xl">{{ t('pages.cookies.heading') }}</h1>
  <p id="cookies-intro">{{ t('pages.cookies.intro') }}</p>
  <p id="mcc-cookie">{{ t('pages.cookies.mccCookie') }}</p>
  <p id="icoInfo">{{ t('pages.cookies.icoStart') }}
    <a class="govuk-link" href="https://ico.org.uk/for-the-public/online/cookies">
    {{ t('pages.cookies.icoLink') }}
    </a>
    {{ t('pages.cookies.icoEnd') }}
  </p>
  <h2 id="cookies-subheading" class="govuk-heading-l">{{ t('pages.cookies.subheading') }}</h2>
  <p id="essential-info">{{ t('pages.cookies.essentialInfo') }}</p>
  
  {{ govukTable({
    caption: t("components.cookiesTable.caption"),
    captionClasses: t("components.cookiesTable.captionClasses"),
    firstCellIsHeader: t("components.cookiesTable.firstCellIsHeader"),
    head: [
      { text: t("components.cookiesTable.head.name") },
      { text: t("components.cookiesTable.head.purpose") },
      { text: t("components.cookiesTable.head.expires") }
    ],
    rows: [
      [
        { text: t("components.cookiesTable.rows.sessionID") },
        { text: t("components.cookiesTable.rows.stores") },
        { text: t("components.cookiesTable.rows.expiry") }
      ]
    ]
  }) }}
</body>

{% endblock %}




