{% extends "base.njk" %}

{% block serviceNavigation %}
  {% if isAuthenticated %}
    {{ govukServiceNavigation({
    serviceName: config.SERVICE_NAME,
    serviceUrl: "/",
    navigation: []
    }) }}
  {% endif %}
{% endblock %}