{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% block serviceNavigation %}
    {{ govukServiceNavigation({
      serviceName: config.SERVICE_NAME,
      serviceUrl: "/cases/new",
      navigation: []
}) }}
  {% endblock %}