{# Set template-specific variables #}
{% set pageTitleKey = 'forms.clientDetails.thirdParty.addPage;pageTitleAdd' %}
{% set headingKey = 'forms.clientDetails.thirdParty.addPage.pageH1Add' %}
{% set formActionUrl = "/cases/" + caseReference + "/client-details/add/third-party" %}

{# Extend the shared base template #}
{% extends "case_details/third_party_details/_base-third-party.njk" %}