<h2 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.h2') }}</h2>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.purposeH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.purposeParagraph') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.aboutPersonalInformationH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.aboutPersonalInformationParagraph') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.typesOfPersonalDataH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.typesOfPersonalDataParagraph') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingParagraph1') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingBullet1') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingBullet2') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingBullet3') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingBullet4') }}</li>
</ul>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingParagraph2') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingParagraph3') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.purposeOfProcessingParagraph4') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.whoTheInformationMayBeSharedWithH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.whoTheInformationMayBeSharedWithParagraph1') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.whoTheInformationMayBeSharedWithBullet1') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.whoTheInformationMayBeSharedWithBullet2') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.whoTheInformationMayBeSharedWithBullet3') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.whoTheInformationMayBeSharedWithBullet4') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.whoTheInformationMayBeSharedWithBullet5') }}</li>
</ul>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.whoTheInformationMayBeSharedWithParagraph2') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.dataProcessorsH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.dataProcessorsParagraph1') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.dataProcessorsParagraph2') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.automatedDecisionMakingH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.automatedDecisionMakingParagraph') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.safeguardsH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.safeguardsParagraph') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.retentionH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.retentionParagraph1') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.retentionParagraph2') }}</p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.personalInformationH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.personalInformationParagraph') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.personalInformationAddress1') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.personalInformationAddress2') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.personalInformationAddress3') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.personalInformationAddress4') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.personalInformationAddress5') }}</p>
<p class="govuk-body"> <a class="govuk-link" href="mailto:Data.access@justice.gov.uk">{{ t('pages.caseDetails.legalHelpForm.privacy.personalInformationEmail') }}</a></p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataParagraph1') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataParagraph2') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataBullet1') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataBullet2') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataBullet3') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataBullet4') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataBullet5') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataBullet6') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.personalDataBullet7') }}</li>
</ul>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsH3') }}</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsBullet1') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsBullet2') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsBullet3') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsBullet4') }}</li>
  <li>{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsBullet5') }}</li>
</ul>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsParagraph') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsAddress1') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsAddress2') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsAddress3') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsAddress4') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsAddress5') }}</p>
<p class="govuk-body"> <a class="govuk-link" href="mailto:dataprotection@justice.gov.uk">{{ t('pages.caseDetails.legalHelpForm.privacy.moreDetailsEmail') }}</a></p>

<h3 class="govuk-heading">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsH3') }}</h3>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsParagraph1') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsAddress1') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsAddress2') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsAddress3') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsAddress4') }}</p>
<p class="govuk-body govuk-!-margin-bottom-0">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsAddress5') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsAddress5') }}</p>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsTelephone') }}</p>
<p class="govuk-body"> <a class="govuk-link" href="https://www.ico.org.uk">{{ t('pages.caseDetails.legalHelpForm.privacy.complaintsWebsite') }}</a></p>