<div class="page-break"></div>
<div class="page-break header-section">
<h2 class="govuk-heading-l">{{ t('pages.caseDetails.legalHelpForm.evidence.h2') }}</h2>
</div>
<p class="govuk-body">{{ t('pages.caseDetails.legalHelpForm.evidence.paragraph1') }}</p>

{{ govukTextarea({
  name: "moreDetail",
  id: "more-detail",
  rows: "30",
  disabled: true,
  value: evidence
}) }}
