{% from "govuk/components/table/macro.njk" import govukTable %}

{% set under17Text = "Yes" if legalHelpExtract.isUnder17 else 
  "No" %}
{% set under18RegularPayment = "Yes" if legalHelpExtract.under18RegularPayment else 
  "No" %}
{% set under18HasValuables = "Yes" if legalHelpExtract.under18HasValuables else 
  "No" %}
{% set partnerText = "Yes" if legalHelpExtract.hasPartner else 
  "No" %}
{% set over60Text = "Yes" if legalHelpExtract.isOver60 else "No"%}
{% set universalCredit = "Yes" if legalHelpExtract.specificBenefits.universalCredit else "No"%}
{% set pensionCredit = "Yes" if legalHelpExtract.specificBenefits.pensionCredit else "No"%}
{% set jobSeekers = "Yes" if legalHelpExtract.specificBenefits.jobSeekers else "No"%}
{% set employmentSupport = "Yes" if legalHelpExtract.specificBenefits.employmentSupport else "No"%}
{% set incomeSupport = "Yes" if legalHelpExtract.specificBenefits.incomeSupport else "No"%}
{% set asylumSupport = "Yes" if legalHelpExtract.specificBenefits.asylumSupport else "No"%}

{% set benefitsHeading = (
  "pages.caseDetails.legalHelpForm.finances.benefitsPartner" if legalHelpExtract.hasPartner else "pages.caseDetails.legalHelpForm.finances.benefits") %}

{% set partnerAndAgeRows = [
  [
    { text: t("common.financialEligibility.details.hasPartner") }, 
    { text: partnerText }
  ],
  [
    {
      text: (t("common.financialEligibility.details.partnerAge60OrOver")if legalHelpExtract.hasPartner else 
        t("common.financialEligibility.details.age60OrOver")
      )
    }, {
      text: over60Text
    }
  ]
] %}

{% set rows = [
  [
    { text: t("common.financialEligibility.details.age17OrUnder") }, 
    { text: under17Text }
  ]
] %}

{% if legalHelpExtract.isUnder17 %}
  {% set rows = rows.concat([
    [
      { text: t("common.financialEligibility.details.under18RegularPayment") }, 
      { text: under18RegularPayment }
    ]
  ]) %}
  {% if not legalHelpExtract.under18RegularPayment %}
    {% set rows = rows.concat([
      [
        { text: t("common.financialEligibility.details.under18HasValuables") }, 
        { text: under18HasValuables }
      ]
    ]) %}
  {% endif %}
  {% if legalHelpExtract.under18HasValuables or legalHelpExtract.under18RegularPayment %}
    {% set rows = rows.concat(partnerAndAgeRows) %}
  {% endif %}
{% else %}
  {% set rows = rows.concat(partnerAndAgeRows) %}
{% endif %}

{% if not legalHelpExtract.under18passportedBenefits %}
  {% set rows = rows.concat([
    [
      {
        text: t(benefitsHeading)
      }, {
        text: ""
      }
    ],
    [
      { text: t("common.financialEligibility.details.universalCredit") }, 
      { text: universalCredit }
    ],
    [
      { text: t("common.financialEligibility.details.incomeSupport") }, 
      { text: incomeSupport }
    ],
    [
      { text: t("common.financialEligibility.details.incomeBasedJSA") },
      { text: jobSeekers }
    ],
    [
      { text: t("common.financialEligibility.details.pensionCredit")}, 
      { text: pensionCredit }
    ],
    [
      {
        text: t("common.financialEligibility.details.employmentSupport")
      }, {
        text: employmentSupport
      }
    ],
    [
      {
        text: t("pages.caseDetails.legalHelpForm.finances.asylumSupport")
      }, {
        text: asylumSupport
      }
    ]
  ])
 %}
{% endif %}
  {{ govukTable({
  caption: "Your finances",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  classes: "legal-help-eligibility-table",
  rows: rows
}) }}
