{% set rows = [
  [
    { text: t("pages.caseDetails.legalHelpForm.details.name") }, 
    { text: client.fullName }
  ],
  [
    { text: t("pages.caseDetails.legalHelpForm.details.dateOfBirth") }, 
    { text: client.dateOfBirth }
  ],
  [
    { text: t("pages.caseDetails.legalHelpForm.details.nationalInsurance") }, 
    { text: legalHelpExtract.nationalInsurance }
  ],
  [
    { text: t("pages.caseDetails.legalHelpForm.details.address") }, 
    { text: client.address }
  ],
  [
    { text: t("pages.caseDetails.legalHelpForm.details.postcode") }, 
    { text: client.postcode }
  ],
  [
    { text: t("pages.caseDetails.legalHelpForm.details.laaReference") }, 
    { text: client.laaReference }
  ]
] %}

{{ govukTable({
   caption: "Your details",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  classes: "eligibility-table",
  rows: rows
}) }}