<main id="main" role="main">
    <h1>Manage Your Civil Cases</h1>
</main>

## Getting Started
- [Getting Started](documentation/getting-started.html)

## Features
- [Features](documentation/features.html)

## Testing
- [Testing](documentation/testing.html)

## Deployment
- [Deployment](documentation/deployment.html)

## Locales and Internationalization
- [Locales and Internationalization](documentation/locales.html)

## Adding to the documentation
If there's something missing, please either let us know and we'll add a new article, or if you're comfortable writing one yourself, PRs will be gratefully received.