@use "govuk-frontend/dist/govuk/index";
@use "@ministryofjustice/frontend/moj/all";
@use "@x-govuk/govuk-prototype-components/src/x-govuk/components/autocomplete";

// Custom components
@use "components/tab-navigation";
@use "components/pagination";
@use "components/sortable-table";
@use "components/search";

// Custom styles
.govuk-main-wrapper {
  padding-top: 0px !important;
}
.moj-button-menu__wrapper {
  margin-top: -5px !important;
}
.moj-alert {
  margin: 20px 0 !important;
}