@use "govuk-frontend/dist/govuk/index";
@use "@ministryofjustice/frontend/moj/all";
@use "@x-govuk/govuk-prototype-components/src/x-govuk/components/autocomplete";

// Custom components
@use "components/error_or_state_banner";
@use "components/tab-navigation";
@use "components/pagination";
@use "components/sortable-table";
@use "components/search";
@use "components/case_details_header";
@use "components/case_details_tab"