{{ govukTag({
  text: "Accepted",
  classes: "govuk-!-margin-bottom-2"
}) }}

<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Date received: <span class="govuk-body-l">{{ client.dateReceived | formatDate }}</span></h2>
<h2 class="govuk-heading-m govuk-!-margin-bottom-7">LAA Reference: <span class="govuk-body-l">{{ client.laaReference or "Not provided" }}</span></h2>

<div class="govuk-button-group">
  {{ govukButton({
    text: "Generate legal help form"
  }) }}

  {{ govukButton({
    text: "Reject case",
    classes: "govuk-button--secondary"
  }) }}

  {{ govukButton({
    text: "Split case",
    classes: "govuk-button--secondary"
  }) }}

  {{ govukButton({
    text: "Close case",
    classes: "govuk-button--secondary"
  }) }}

  {{ govukButton({
    text: "Leave feedback",
    classes: "govuk-button--secondary"
  }) }}
</div>