{{ govukTag({
  text: "Closed",
  classes: "govuk-tag--grey govuk-!-margin-bottom-2"
}) }}

<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Date received: <span class="govuk-body-l">{{ client.dateReceived or "30 January 2025" }}</span></h2>
<h2 class="govuk-heading-m govuk-!-margin-bottom-7">LAA Reference: <span class="govuk-body-l">{{ client.laaReference or "3000742" }}</span></h2>

<div class="govuk-button-group">
  {{ govukButton({
    text: "Reopen case"
  }) }}

  {{ govukButton({
    text: "Generate legal help form",
    classes: "govuk-button--secondary"
  }) }}
</div>