{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/tabComponent.njk" import tabComponent %}


{% block backLink %}
  {{ govukBackLink({
    text: "Back to all cases",
    href: "/cases/" + activeTab,
    classes: "govuk-!-margin-bottom-0"
  }) }}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-caption-xl">{{ client.caseReference }}</h1>
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" id="page-heading">{{ client.fullName }}</h1>
  {% if activeTab == 'new' %}
    {% include "cases/_new-client-details-partial.njk" %}
  {% elif activeTab == 'accepted' -%}
    {% include "cases/_accepted-client-details-partial.njk" %}
  {% elif activeTab == 'closed' -%}
    {% include "cases/_closed-client-details-partial.njk" %}
  {% else %}
    {% include "cases/_opened-client-details-partial.njk" %}
  {% endif %}

  {{ tabComponent({
    activeTab: 'client_details',
    containerId: "cases-tab-container",
    casesData: casesData,
    sortOrder: sortOrder,
    pagination: pagination,
    tabs: [
      {
        id: "client_details",
        text: "Client details",
        href: "/cases/new/{{caseReference}}/client-details",
        partial: "cases/_new-partial.njk"
      },
      {
        id: "scope",
        text: "Scope",
        href: "/cases/new/{{caseReference}}/scope",
        partial: "cases/_opened-partial.njk"
      },
      {
        id: "financial_eligibility",
        text: "Financial eligibility",
        href: "/cases/new/{{caseReference}}/financial-eligibility",
        partial: "cases/_accepted-partial.njk"
      },
      {
        id: "notes_and_history",
        text: "Notes and history",
        href: "/cases/new/{{caseReference}}/notes-and-history",
        partial: "cases/_closed-partial.njk"
      }
    ]
  }) }}
{% endblock %}